---
import Noheader from '../../layouts/noheader.astro';
import '@fontsource/the-nautigal';
import '@fontsource/poppins';
import { Icon } from 'astro-iconify';
import Namatamu from '../../layouts/namatamu.astro'
import Payment from '../../layouts/payment.astro'
import Rsvp from '../../layouts/rsvp.astro'
import Countdown from '../../layouts/countdown.astro'
import Footerpost from '../../layouts/footer-post.astro'
import Audio from '../../layouts/audio.astro'
import Animation from '../../layouts/animation.astro'

const {frontmatter} = Astro.props
---

<Noheader title={frontmatter.title} desc={frontmatter.desc}>

  <input type="checkbox" id="toggle" class="peer hidden peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear " />

  <section class="animasi1 relative h-screen bg-cover bg-center overflow-hidden peer-checked:h-0 peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear peer-checked:delay-500">
  <div class="absolute inset-0 bg-cover bg-center grayscale-[90%]" style={`background-image:url(${frontmatter.cover})`}></div>
  
  <div class="container mx-auto py-20 h-screen flex flex-col justify-between items-center relative">
      <p class=`animate-fadedown text-sm md:text-xl mt-8 font-poppins font-semibold ${frontmatter.txsc}`>
        Undangan Pernikahan
      </p>
      <div
        class=`animate-fadeleft flex flex-col sm:flex-row gap-2 text-center font-nautigal text-center text-6xl lg:text-9xl ${frontmatter.txsc}`>
        <span>{frontmatter.female }</span>
        <span class=`${frontmatter.txfs}`> & </span> 
        <span> {frontmatter.male } </span> 
      </div>
    <div class="animate-fadedown mx-auto text-center mt-2 text-gray-800">
      <h3 class="mt-2 font-poppins text-xs">Kepada Yth. <br>  Bapak/Ibu/Saudara/i</h3>
      <h4 id="invite-name" class="animate-fadeup text-xl font-josefin my-3 capitalize">
        <Namatamu /> Nama Tamu
      </h4>
      <label
        for="toggle" id="toaudio"
        class=`animate-fadeup mt-5 px-4 py-2 relative rounded-full font-bold flex flex-row items-center justify-center gap-1 ${frontmatter.txfs} ${frontmatter.bgsc}`><Icon name="mdi:love-letter" class="w-5 h-5" /> Open Invitation </label>
    </div>
  </div>
  </section>
  <main id="myDIV" class=`hidden peer-checked:block scroll-smooth ${frontmatter.bgfs}`>
    <section class="animasi2 hero relative h-screen overflow-hidden">
      <div class="absolute inset-0 bg-cover bg-center grayscale" style={`background-image:url(${frontmatter.imgsc})`}></div>
      
      <div class="container h-screen mx-auto pt-20 flex flex-col justify-center items-center relative">
        <div
        class=`animate-fadeleft flex flex-col sm:flex-row gap-2 text-center font-nautigal text-center text-6xl lg:text-9xl ${frontmatter.txsc}`>
        <span>{frontmatter.female }</span>
        <span class=`${frontmatter.txfs}`> & </span> 
        <span> {frontmatter.male } </span> 
      </div>
        <p class=`animate-faderight font-poppins text-center text-xl md:text-2xl mt-5 ${frontmatter.txfs}`>{frontmatter.date}</p>
      </div>
    </section>
    <section class="animasi3 overflow-hidden">
      <div class="container py-20 px-6 mx-auto">
        <div class="flex flex-col sm:flex-row gap-16 max-w-4xl mx-auto my-12">
          <div class="rounded-lg grayscale">
            <img src={frontmatter.imgstory1} alt="JejakBahagia"  class="fade-right opacity-0 rounded-lg aspect-video sm:aspect-square">
          </div>
          <div class="flex flex-col items-center justify-center font-poppins text-center">
            <img src={frontmatter.dekorfs} class="fade-left opacity-0" alt="JejakBahagia">
            <p class=`fade-left opacity-0 ${frontmatter.txth}`>{frontmatter.quote}</p>
          </div>
        </div>
      </div>
    </section>
    <section class="animasi4 bg-white overflow-hidden">
      <div class="container py-20 px-6 mx-auto">
        <img src={frontmatter.dekorth} alt="JejakBahagia" class="fade-down opacity-0 grayscale mx-auto">
        <div class="flex flex-col lg:flex-row justify-center items-center gap-y-16 max-w-4xl mx-auto mt-5 [&>*]:text-center [&>*]:w-full [&>*]:flex [&>*]:flex-col [&>*]:items-center">
          <div>
            <div class="fade-right opacity-0 relative grayscale flex items-center justify-center w-72">
              <div class="w-56 h-64 bg-cover bg-center relative rounded-full"
              style={`background-image:url(${frontmatter.pm1})`}>
              </div>
              <img src={frontmatter.dekorsc} alt="JejakBahagia"  class="absolute">
            </div>
            <h3 class=`fade-down opacity-0 text-8xl mt-6 font-nautigal ${frontmatter.txsc}`>{frontmatter.female }</h3>
            <div class="fade-up opacity-0 font-poppins space-y-3">
              <div class=`${frontmatter.txth}`>
                <p class=`text-xl font-medium w-max mx-auto border-b-2 ${frontmatter.bdr}`>{frontmatter.fullfemale }</p>
                <p class="text-lg">{frontmatter.childfemale}</p>
                <p class=`text-lg font-medium ${frontmatter.txsc}`>{frontmatter.parentfemale }
                </p>
                <p>{frontmatter.cityfemale}</p>
                <div class="flex text-center justify-center mt-4">
                  <a href={`https://www.instagram.com/${frontmatter.instagramfemale}`} class="flex flex-row gap-2 items-center">
                    <Icon name="mdi:instagram" class=`w-10 h-10 p-2 rounded-full ${frontmatter.txfs} ${frontmatter.bgsc}` />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="fade-left opacity-0 relative grayscale flex items-center justify-center w-72">
              <div class="w-56 h-64 bg-cover bg-center relative rounded-full"
              style={`background-image:url(${frontmatter.pm2})`}>
              </div>
              <img src={frontmatter.dekorsc} alt="JejakBahagia"  class="absolute">
            </div>
            <h3 class=`fade-down opacity-0 text-8xl mt-6 font-nautigal ${frontmatter.txsc}`>{frontmatter.male }</h3>
            <div class="fade-up opacity-0 font-poppins space-y-3">
              <div class=`${frontmatter.txth}`>
                <p class=`text-xl font-medium w-max mx-auto border-b-2 ${frontmatter.bdr}`>{frontmatter.fullmale }</p>
                <p class="text-lg">{frontmatter.childmale}</p>
                <p class=`text-lg font-medium ${frontmatter.txsc}`>{frontmatter.parentmale }
                </p>
                <p>{frontmatter.citymale}</p>
                <div class="flex text-center justify-center mt-4">
                  <a href={`https://www.instagram.com/${frontmatter.instagrammale}`} class="flex flex-row gap-2 items-center">
                    <Icon name="mdi:instagram" class=`w-10 h-10 p-2 rounded-full ${frontmatter.txfs} ${frontmatter.bgsc}` />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="animasi5 relative overflow-hidden">
      <div class=`absolute inset-0 bg-gray-500 bg-cover bg-no-repeat lg:bg-center bg-fixed bg-center grayscale blur-[1px] before:content-[''] before:bg-gradient-to-b before:to-transparent before:inset-0 before:bg-cover before:absolute ${frontmatter.from}` style={`background-image:url(${frontmatter.add1})`}>
      </div>
      <div class="container py-32 px-6 mx-auto relative z-10">
        <div class=`text-center my-5 ${frontmatter.txsc}`>
          <h2 class="fade-down opacity-0 text-xl md:text-2xl font-bold mt-5 md:mt-0 mb-3">Countdown to</h2>
          <h1 class="fade-right opacity-0 text-center font-nautigal text-4xl md:text-6xl lg:text-8xl">
            Our Happy Day
          </h1>
        </div>
        <div id="timer" class=`fade-up opacity-0 grid grid-cols-2 md:grid-cols-4 gap-y-8 justify-center text-center items-center mt-20 sm:px-20 max-w-3xl w-full mx-auto [&>*]:text-center [&>*]:text-4xl [&>*]:sm:text-6xl [&>*]:font-bold [&>*]:font-poppins [&>*]:p-1 ${frontmatter.txsc}`>
        </div>
        <Countdown/>
        <div class="grid grid-cols-1 md:grid-cols-2 items-center max-w-4xl mx-auto gap-x-8 gap-y-16 mt-5 pt-16">
          <div class="fade-right opacity-0 rounded-lg w-full">
            <img src=`${frontmatter.imgstory2}` alt="JejakBahagia"  class="aspect-square rounded-lg grayscale">
          </div>
          <div class=`fade-right opacity-0 py-12 rounded-lg ${frontmatter.bgfs} ${frontmatter.txth}`>
            <div class="text-center font-josefin">
              <h2 class="text-center font-nautigal text-5xl">Akad Nikah</h2>
              <p class="mt-2 sm:mt-4">{frontmatter.date}</p>
              <p class="mt-2 sm:mt-4 text-md">{frontmatter.timefs}</p>
              <p class="mt-2 sm:mt-4">{frontmatter.addressfs}</p>
              <div class="group">
                <a href={frontmatter.mapsfs}>
                  <button
                class=`mx-auto mt-8 flex items-center justify-center rounded-full px-4 py-2 text-center text-sm font-medium ${frontmatter.txfs} ${frontmatter.bgsc}`
                >Google Maps <Icon name="mdi:google-maps" class="w-6 h-6" /></button
              >
                </a>
              </div>
            </div>
          </div>
          <div class="fade-left opacity-0 rounded-lg w-full md:order-last">
            <img src=`${frontmatter.imgstory2}` alt="JejakBahagia"  class="aspect-square rounded-lg grayscale">
          </div>
          <div class=`fade-right opacity-0 py-12 rounded-lg ${frontmatter.bgfs} ${frontmatter.txth}`>
            <div class="text-center font-josefin">
              <h2 class="text-center font-nautigal text-5xl">Resepsi</h2>
              <p class="mt-2 sm:mt-4">{frontmatter.date}</p>
              <p class="mt-2 sm:mt-4 text-md">{frontmatter.timesc}</p>
              <p class="mt-2 sm:mt-4">{frontmatter.addresssc}</p>
              <div class="group">
                <a href={frontmatter.mapssc}>
                  <button
                class=`mx-auto mt-8 flex items-center justify-center rounded-full px-4 py-2 text-center text-sm font-medium ${frontmatter.txfs} ${frontmatter.bgsc}`
                >Google Maps <Icon name="mdi:google-maps" class="w-6 h-6" /></button
              >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="animasi6 py-20 overflow-hidden">
      <div class="container py-20 px-6 text-center mx-auto">
        <div>
          <h2 class=`fade-down opacity-0 text-center font-nautigal text-6xl lg:text-8xl ${frontmatter.txth}`>Tentang Kami</h2>
        </div>
        <div class="mx-auto">
          <div class="fade-right opacity-0 bg-white rounded shadow-lg mx-auto my-5 w-full md:w-3/4 p-10">
            <div class="md:flex mx-auto gap-5 justify-center">
              <div class="w-full md:w-1/4">
                <img
                  class="rounded-lg grayscale"
                  src={frontmatter.imgstory9}
                  alt="JejakBahagia"
                />
              </div>
              <div class="text-left font-poppins">
                <p class=`text-5xl mt-5 md:mt-0 font-nautigal mb-3 ${frontmatter.txsc}`>Fist Time</p>
                <p class=`max-w-prose ${frontmatter.txth}`>{frontmatter.storyfs}
                </p>
              </div>
            </div>
          </div>
          <Icon name="mdi:arrow-u-down-left" class=`fade-down opacity-0 w-24 h-24 mx-auto ${frontmatter.txsc}` />
          <div class="fade-left opacity-0 bg-white rounded shadow-lg mx-auto my-5 w-full md:w-3/4 p-10">
            <div class="md:flex mx-auto gap-5 justify-center">
              <div class="w-full md:w-1/4">
                <img
                  class="rounded-lg grayscale"
                  src={frontmatter.imgstory10}
                  alt="JejakBahagia"
                />
              </div>
              <div class="text-left font-poppins">
                <p class=`text-5xl mt-5 md:mt-0 font-nautigal mb-3 ${frontmatter.txsc}`>
                  Menyatakan Cinta
                </p>
                <p class=`max-w-prose ${frontmatter.txth}`>{frontmatter.storysc}
                </p>
              </div>
            </div>
          </div>
          <Icon name="mdi:arrow-u-down-left" class=`fade-down opacity-0 w-24 h-24 mx-auto ${frontmatter.txsc}` />
          <div class="fade-up opacity-0 bg-white rounded shadow-lg mx-auto my-5 w-full md:w-3/4 p-10">
            <div class="md:flex mx-auto gap-5 justify-center">
              <div class="w-full md:w-1/4">
                <img
                  class="rounded-lg grayscale"
                  src={frontmatter.imgstory11}
                  alt="JejakBahagia"
                />
              </div>
              <div class="text-left font-poppins">
                <p class=`text-5xl mt-5 md:mt-0 font-nautigal mb-3 ${frontmatter.txsc}`>Tunangan</p>
                <p class=`max-w-prose ${frontmatter.txth}`>{frontmatter.storyth}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="animasi7 overflow-hidden">
      <div class="container mx-auto px-6 py-20">
        <div class="text-center my-5 mb-10">
          <h2 class=`fade-down opacity-0 text-center font-nautigal text-5xl lg:text-8xl ${frontmatter.txth}`>
            Moment Kami
          </h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center gap-2 pb-20 [&>*]:w-full [&>*]:md:max-w-4xl [&>*]:p-1 [&>*]:relative [&>*]:grayscale">
          <div class="fade-right">
            <div class="truncate">
              <img
                src={frontmatter.imgstory1}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div class="fade-down opacity-0">
            <div class="truncate">
              <img
                src={frontmatter.imgstory2}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div class="fade-up opacity-0">
            <div class="truncate">
              <img
                src={frontmatter.imgstory3}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div class="fade-left opacity-0">
            <div class="truncate">
              <img
                src={frontmatter.imgstory4}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div class="fade-left opacity-0">
            <div class="truncate">
              <img
                src={frontmatter.imgstory5}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div class="fade-up opacity-0">
            <div class="truncate">
              <img
                src={frontmatter.imgstory6}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div class="fade-down opacity-0">
            <div class="truncate">
              <img
                src={frontmatter.imgstory7}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div class="fade-left opacity-0">
            <div class="truncate">
              <img
                src={frontmatter.imgstory8}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="animasi9 relative bg-cover bg-no-repeat bg-center bg-fixed overflow-hidden">
      <div class=`absolute inset-0 bg-cover bg-center grayscale blur-[1px] before:content-[''] before:bg-gradient-to-b before:to-transparent before:inset-0 before:bg-cover before:absolute ${frontmatter.from}` style={`background-image:url(${frontmatter.add2})`}></div>
      <div class="container py-20 px-6 text-center mx-auto relative z-10">
        <div class=`text-center my-10 ${frontmatter.txth}`>
          <h2 class=`fade-right opacity-0 text-5xl lg:text-8xl font-nautigal ${frontmatter.txsc}`>Wedding Gift</h2>
          <p class="fade-left opacity-0 max-w-prose mx-auto font-bold mt-5 font-josefin">Doa & restu anda di pernikahan kami cukuplah sebagai bingkisan, namun jika anda ingin memberi lebih, kami dengan senang hati menerimanya dan akan semakin melengkapi kebahagiaan kami.</p>
        </div>
        <div class="flex flex-col md:flex-row gap-8 justify-center items-center w-full max-w-screen-md mx-auto">
          <div class:list={[`fade-down opacity-0 py-8 px-4 md:px-16 mx-auto mt-16 w-full max-w-xs justify-center md:flex mx-auto gap-5 bg-white rounded-lg border-2 ${frontmatter.bdr} shadow-lg`]}>
            <div class="text-center font-poppins flex flex-col items-center">
              <img class="h-8 w-1/2 lg:w-full grayscale" src={frontmatter.logoml} alt="JejakBahagia">
              <div class:list={[`mt-4 font-josefin ${frontmatter.txth}`]}>
                <p class="max-w-prose">{frontmatter.namebankml}</p>
                <span class="copy-content font-bold">{frontmatter.numberbankml}</span>
                <div class="btn-copy pt-5">
                  <button class:list={[`${frontmatter.bgsc} ${frontmatter.txfs} px-5 py-2 rounded-lg`]}>Copy Rekening</button>
                </div>
                <span class="copy-message absolute hidden inset-x-0">Rekening dicopy</span>
              </div>
            </div>
          </div>
          <div class:list={[`fade-up opacity-0 py-8 px-4 md:px-16 mx-auto mt-16 w-full max-w-xs justify-center md:flex mx-auto gap-5 bg-white rounded-lg border-2 ${frontmatter.bdr} shadow-lg`]}>
            <div class="text-center font-poppins flex flex-col items-center">
              <img class="h-8 w-1/2 lg:w-full grayscale" src={frontmatter.logofml} alt="JejakBahagia">
              <div class:list={[`mt-5 font-josefin ${frontmatter.txth}`]}>
                <p class="max-w-prose">{frontmatter.namebankfml}</p>
                <span class="copy-content font-bold">{frontmatter.numberbankfml}</span>
                <div class="btn-copy pt-5">
                  <button class:list={[`${frontmatter.bgsc} ${frontmatter.txfs} px-5 py-2 rounded-lg`]}>Copy Rekening</button>
                </div>
                <span class="copyMessage absolute hidden inset-x-0">Rekening dicopy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="animasi10 overflow-hidden relative">
      <div class="container py-20 z-50 px-6 text-center mx-auto relative">
        <div class:list={[`text-center my-5 mb-10 ${frontmatter.txth}`]}>
          <h2 class="fade-right opacity-0 text-4xl md:text-8xl font-nautigal">
            Ucapan & Doa
          </h2>
          <h2 class="fade-right opacity-0 text-xl md:text-2xl font-bold mt-5 font-josefin">Please Confirm Your Attendance</h2>
        </div>
        <Rsvp color="gray-600" />
      </div>
    </section>
    
    <Footerpost />
    <Audio />
    <audio id="myAudio" loop class="hidden">
      <source src=`/assets/${frontmatter.music}.mp3` type="audio/mpeg">
    </audio>
    <Payment />
  <Animation />
  </main>
</Noheader>

