---
import Noheader from '../../layouts/noheader.astro';
import '@fontsource/the-nautigal';
import '@fontsource/poppins';
import { Icon } from 'astro-iconify';
import Namatamu from '../../layouts/namatamu.astro'
import Payment from '../../layouts/payment.astro'
import Rsvp from '../../layouts/rsvp.astro'
import Countdown from '../../layouts/countdown.astro'
import Footerpost from '../../layouts/footer-post.astro'
import Audio from '../../layouts/audio.astro'
import Animation from '../../layouts/animation.astro';

let {frontmatter, count} = Astro.props;

if(!frontmatter) {
  let data = {};
  data["title"] = 'wedding-8'
  data["type"] = 'wedding-8'
  data["desc"] = 'wedding-8'
  data["countdown"] = 'Jun 26, 2024 15:37:25'

  data["bgfs"] = 'bg-white'
  data["bgsc"] = 'bg-yellow-100'
  data["bgth"] = 'bg-sky-800'

  data["txfs"] = 'text-white'
  data["txsc"] = 'text-yellow-100'
  data["txth"] = 'text-gray-800'

  data["bdr"] = 'border-sky-100'
  data["from"] = 'from-sky-800'
  data["before"] = 'before:bg-sky-800'

  data["cover"] = '/assets/img-6.webp'
  data["imgsc"] = '/assets/img-20.webp'
  data["bg"] = '/assets/dekor-24.webp'

  // dekor
  data["dekorfs"] = '/assets/dekor31.webp'
  data["dekorsc"] = '/assets/dekor10.webp'
  data["dekorth"] = '/assets/dekor28.webp'
  data["dekorfr"] = '/assets/dekor29.webp'
  data["dekorfv"] = '/assets/dekor26.webp'

  // Img kedua mempelai
  data["pm1"] = '/assets/img-27.webp'
  data["pm2"] = '/assets/img-26.webp'

  // Img story mempelai
  data["imgstory1"] = '/assets/img-5.webp'
  data["imgstory2"] = '/assets/img-6.webp'
  data["imgstory3"] = '/assets/img-7.webp'
  data["imgstory4"] = '/assets/img-8.webp'
  data["imgstory5"] = '/assets/img-9.webp'
  data["imgstory6"] = '/assets/img-10.webp'
  data["imgstory7"] = '/assets/img-11.webp'
  data["imgstory8"] = '/assets/img-12.webp'
  data["add1"] = '/assets/img-29.webp'
  data["add2"] = '/assets/img-31.webp'

  //img story love
  data["imgstory9"] = '/assets/img-16.webp'
  data["imgstory10"] = '/assets/img-17.webp'
  data["imgstory11"] = '/assets/img-18.webp'

  // data mempelai
  data["male"] = "Remeo"
  data["fullmale"] = "Remeo Alexa"
  data["female"] = "Juliet"
  data["fullfemale"] = "Juliet Kapolo"
  data["date"] = "Jumat, 05 Januari 2030"
  data["music"] = "yovie-nuno-janji-suci"
  data["countdown"] = "June 5, 2025 15:37:25"

  data["childmale"] = "Putra kelima dari Pasangan"
  data["childfemale"] = "Putri Pertama dari Pasangan"
  data["parentmale"] = "Joko & Siti"
  data["parentfemale"] = "Bambang & Mulyani"
  data["instagrammale"] = "instagram"
  data["instagramfemale"] = "instagram"
  data["facebookmale"] = "facebook"
  data["facebookfemale"] = "facebook"
  data["citymale"] = "Palembang"
  data["cityfemale"] = "Makkasar"

  //bank
  data["logoml"] = "/assets/bri.png"
  data["bankml"] = "BRI"
  data["namebankml"] = "Remeo Alexa"
  data["numberbankml"] = "123456789"
  data["logofml"] = "/assets/bca.png"
  data["bankfml"] = "BCA"
  data["namebankfml"] = "Juliet Kapolo"
  data["numberbankfml"] = "123456789"

//waktu & tempat acara
  data["timefs"] = "08:00 - 09:00 WIB"
  data["timesc"] = "10:00 - 11:00 WIB"
  data["timeth"] = "13:00 - end WIB"
  data["addressfs"] = "Masjid Kampus UGM"
  data["addresssc"] = "Jogja Expo Center"
  data["addressth"] = "Rumah Mempelai Wanita"
  data["mapsfs"] = "https://maps.app.goo.gl/fpXEChVvcrKveA468" 
  data["mapssc"] = "https://maps.app.goo.gl/fpXEChVvcrKveA468"
  data["mapsth"] = "https://maps.app.goo.gl/fpXEChVvcrKveA468"

//story love
  data["storyfs"] = "Di sebuah kafe yang nyaman di tengah kota, dua orang asing, Yanti dan Yanto, tak sengaja bertemu. Yanto, seorang fotografer yang sedang mencari inspirasi untuk proyek terbarunya, sedangkan Yanti, seorang penulis lepas yang sedang mencatat ide-ide baru untuk novel romantisnya, tak menyadari bahwa matanya sedang bertatapan dengan seorang pria tampan di sisi lain kafe."
  data["storysc"] = "Beberapa bulan kemudian, Romeo memutuskan bahwa dia tidak ingin kehilangan Juliet dari hidupnya. Dengan hati yang penuh harap, dia menyiapkan proposal yang tak terlupakan. Di bawah langit malam yang cerah, di taman yang dihiasi dengan ratusan lentera, Romeo berlutut di hadapan Juliet."
  data["storyth"] = "Dari pertemuan tak terduga di kafe hingga momen indah pertunangan mereka di taman yang dipenuhi lentera, cerita cinta Juliet dan Romeo adalah bukti bahwa takdir bisa membawa dua hati yang saling mencari dan membuat mereka bersatu dalam cinta yang abadi."

  data["quote"] = "Dengan segala kerendahan hati, kami sangat berbahagia bisa membagi saat-saat penting ini kepada Bapak/Ibu/Saudara/i. Besar harapan kami atas kehadiran serta iringan doa dan restunya agar pernikahan yang akan digelar bisa berjalan sebagaimana mestinya. Terimakasih."

  frontmatter=data;
}
---

<Noheader title={frontmatter.title} desc={frontmatter.desc}>

  <input type="checkbox" id="toggle" class="peer hidden peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear " />
  <section class=`animasi1 relative h-screen bg-cover bg-center overflow-hidden peer-checked:h-0 peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear peer-checked:delay-500 before:content-[''] before:inset-0 before:bg-cover before:opacity-50 before:absolute ${frontmatter.before}` style={`background-image:url(${frontmatter.cover})`}>
    <div class="absolute overflow-hidden z-20 w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:lg:w-1/5">
      <div>
        <img src=`${frontmatter.dekorfs}` class="" alt="JejakBahagia" />
      </div>
      <div class="right-0 top-0">
        <img src=`${frontmatter.dekorfs}` class="rotate-90 right-0 top-0" alt="JejakBahagia" />
      </div>
      <div class="left-0 bottom-0 -rotate-90">
        <img src=`${frontmatter.dekorfs}` alt="JejakBahagia" />
      </div>
      <div class="right-0 bottom-0">
        <img src=`${frontmatter.dekorfs}` class="rotate-180 right-0 top-0" alt="JejakBahagia" />
      </div>
    </div>
    <div class=`container h-screen pb-20 mx-auto flex flex-col justify-between items-center relative z-50 ${frontmatter.txfs}`>
      <h4 class="animate-fadedown text-sm md:text-xl mt-8 tracking-widest font-poppins font-semibold">
          WEDDING INVITATION
      </h4>
      <div class="animate-zoomout flex flex-col sm:flex-row gap-2 text-center font-nautigal font-thin text-center text-6xl lg:text-9xl">
        <span>{frontmatter.female }</span>
        <span> & </span> 
        <span> {frontmatter.male } </span> 
      </div>
      <div class="text-center">
          <h3 class="animate-faderight mt-2 font-poppins">Dear Mr./Mrs./Ms.</h3>
          <h4 id="invite-name" class="animate-fadeleft font-bold text-xl my-3 capitalize">
            <Namatamu /> nama tamu
          </h4>
          <label
            for="toggle" id="toaudio"
            class=`animate-fadeup w-fit mx-auto mt-5 px-6 py-2 relative rounded-full font-bold flex gap-1 ${frontmatter.txth} ${frontmatter.bgfs}`>Open Invitation </label>
      </div>
    </div>
  </section>
  <main id="myDIV" class=`hidden peer-checked:block scroll-smooth ${frontmatter.bgth}`>
    <section class=`animasi2 relative bg-cover bg-center overflow-hidden before:content-[''] before:inset-0 before:bg-cover before:opacity-50 before:absolute ${frontmatter.before}` style={`background-image:url(${frontmatter.imgsc})`}>
      <div class="absolute overflow-hidden z-20 w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:lg:w-1/5">
        <div>
          <img src=`${frontmatter.dekorfs}` class="" alt="JejakBahagia" />
        </div>
        <div class="right-0 top-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-90 right-0 top-0" alt="JejakBahagia" />
        </div>
        <div class="left-0 bottom-0 -rotate-90">
          <img src=`${frontmatter.dekorfs}` alt="JejakBahagia" />
        </div>
        <div class="right-0 bottom-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-180 right-0 top-0" alt="JejakBahagia" />
        </div>
      </div>
      <div class=`container h-screen pb-20 mx-auto flex flex-col justify-center items-center relative z-50 ${frontmatter.txfs}`>        
          <div class="text-center">
              <h1 class="animate-fadedown text-sm md:text-xl mt-8 tracking-widest font-poppins font-semibold">THE WEDDING OFF
              </h1>
              <div
              class="animate-zoomout flex flex-col sm:flex-row gap-2 text-center font-nautigal font-thin text-center text-6xl lg:text-9xl">
              <span>{frontmatter.female }</span>
              <span> & </span> 
              <span> {frontmatter.male } </span> 
            </div>
          </div>
          <div  data-count={frontmatter.countdown} id="timer" class=`fade-up opacity-0  grid grid-cols-2 md:grid-cols-4 gap-8 justify-center text-center items-center mt-20 sm:px-20 max-w-screen-lg mx-auto *:text-center *:text-4xl *:sm:text-6xl *:font-bold *:p-1 ${frontmatter.txsc}`>
          </div>
        </div>
    </section>
    <section class="animasi3 relative">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:lg:w-1/5">
        <div>
          <img src=`${frontmatter.dekorfs}` class="" alt="JejakBahagia" />
        </div>
        <div class="right-0 top-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-90 right-0 top-0" alt="JejakBahagia" />
        </div>
        </div>
      </div>
        <div class="container px-6 mx-auto relative z-10">
          <div class=`${frontmatter.txsc}`>
            <div class="text-center pt-20 w-full max-w-screen-md mx-auto">
              <h1 class="fade-down opacity-0 text-center font-nautigal text-6xl lg:text-8xl">
                Quote
              </h1>
              <p class="font-poppins fade-right opacity-0">{frontmatter.quote}</p>
            </div>
            <img src=`${frontmatter.dekorsc}` alt="JejakBahagia" class="fade-right opacity-0 py-12 mx-auto">
            <div class="">
              <h1 class="fade-left opacity-0 text-center text-xl mt-8 tracking-widest font-poppins font-semibold">The Beloved
              </h1>
              <h1 class="fade-right opacity-0 text-center font-nautigal text-5xl md:text-6xl lg:text-8xl">Groom & Bride
              </h1>
            </div>
          </div>
        </div>
    </section>
    <section class="animasi4 overflow-hidden relative">
      <div class="absolute overflow-hidden z-20 w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:lg:w-1/5">
        <div class="left-0 bottom-0 -rotate-90">
          <img src=`${frontmatter.dekorfs}` alt="JejakBahagia" />
        </div>
        <div class="right-0 bottom-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-180 right-0 top-0" alt="JejakBahagia" />
        </div>
      </div>
      <div class="container py-20 px-6 mx-auto relative z-50">
        <div class="flex flex-col lg:flex-row justify-center items-center gap-y-16 max-w-4xl mx-auto mt-5 *:text-center *:w-full *:flex *:flex-col *:items-center">
          <div>
            <div class="fade-right opacity-0">
              <div class="relative flex items-center justify-center w-full">
                  <div class="relative flex items-center justify-center w-72">
                    <div
                    class="w-56 h-56 bg-cover bg-center relative rounded-full"
                    style=`background-image: url('${frontmatter.pm1}')`>
                    </div>
                    <img src=`${frontmatter.dekorth}` alt="JejakBahagia" class="absolute">
                  </div>
              </div>
            </div>
            <h3 class=`fade-down opacity-0 text-6xl mt-6 font-nautigal ${frontmatter.txsc}`>{ frontmatter.female }</h3>
            <div class=`fade-up opacity-0 font-josefin ${frontmatter.txfs}`>
              <p class=`text-xl font-medium border-b-2 ${frontmatter.bdr}`>{ frontmatter.fullfemale }</p>
              <p class="text-sm">{frontmatter.childfemale}</p>
              <p class="text-lg font-bold">
                { frontmatter.parentfemale }</p>
              <p>{frontmatter.cityfemale}</p>
              <div class="flex text-center justify-center mt-4">
                <a href={`https://www.instagram.com/${frontmatter.instagramfemale}`} class="flex flex-row gap-2 items-center">
                  <Icon name="mdi:instagram" class=`w-10 h-10 p-2 rounded-full ${frontmatter.txfs} ${frontmatter.bgth}` />
                </a>
              </div>
            </div>
          </div>
          <div>
            <div class="fade-left opacity-0">
              <div class="relative flex items-center justify-center w-full">
                  <div class="relative flex items-center justify-center w-72">
                    <div
                    class="w-56 h-56 bg-cover bg-center relative rounded-full"
                    style=`background-image: url('${frontmatter.pm2}')`>
                    </div>
                    <img src=`${frontmatter.dekorth}` alt="JejakBahagia" class="absolute">
                  </div>
              </div>
            </div>
            <h3 class=`fade-down opacity-0 text-6xl mt-6 font-nautigal ${frontmatter.txsc}`>{ frontmatter.male }</h3>
            <div class=`fade-up opacity-0 font-josefin ${frontmatter.txfs}`>
              <p class=`text-xl font-medium border-b-2 ${frontmatter.bdr}`>{ frontmatter.fullmale }</p>
              <p class="text-sm">{frontmatter.childmale}</p>
              <p class="text-lg font-bold">
                { frontmatter.parentmale }</p>
              <p>{frontmatter.citymale}</p>
              <div class="flex text-center justify-center mt-4">
                <a href={`https://www.instagram.com/${frontmatter.instagrammale}`} class="flex flex-row gap-2 items-center">
                  <Icon name="mdi:instagram" class=`w-10 h-10 p-2 rounded-full ${frontmatter.txfs} ${frontmatter.bgth}` />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="animasi6 relative overflow-hidden">
      <div class="container mx-auto py-20 px-6">
        <div class=`text-center my-5 mb-10 ${frontmatter.txsc}`>
          <h2 class="fade-left opacity-0 text-2xl font-bold mt-5 md:mt-0 mb-3 font-josefin">Where & When</h2>
          <h1 class="fade-right opacity-0 text-center font-nautigal text-5xl lg:text-8xl">
            Wedding Day
          </h1>
        </div>
        <div
          class=`grid gird-cols-1 md:grid-cols-2 max-w-screen-md w-full mx-auto justify-center items-center gap-4 mt-5 *:mx-auto *:rounded-2xl *:h-full *:p-12 *:w-full ${frontmatter.txth}`>
          <div class=`fade-right opacity-0 ${frontmatter.bgfs}`>
            <div class="font-josefin space-y-4">
              <h2 class="text-center font-nautigal text-5xl">Akad Nikah</h2>
              <p class="text-lg font-bold flex gap-2"><Icon name="mdi:date-range" class="w-6 h-6" /> {frontmatter.date}</p>
                <p class="text-md flex gap-2"><Icon name="mdi:clock-time-eight-outline" class="w-6 h-6" />{frontmatter.timefs}</p>
                <p class="flex gap-2"><Icon name="mdi:home" class="w-6 h-6" />{frontmatter.addressfs}</p>
                <p class="flex gap-2"><Icon name="mdi:google-maps" class="w-8 h-8" />{frontmatter.locationfs}</p>
              <div class="group">
                <a href={frontmatter.mapsfs}>
                  <button
                class=`mx-auto mt-8 flex items-center justify-center rounded-full px-4 py-2 text-center text-sm font-medium ${frontmatter.txsc} ${frontmatter.bgth}`
                >Google Maps <Icon name="mdi:google-maps" class="w-6 h-6" /></button
              >
                </a>
              </div>
            </div>
          </div>
          <div class=`fade-left opacity-0 ${frontmatter.bgfs} ${frontmatter.txth}`>
            <div class="font-josefin space-y-4">
              <h2 class="text-center font-nautigal text-5xl">Resepsi</h2>
              <p class="text-lg font-bold flex gap-2"><Icon name="mdi:date-range" class="w-6 h-6" /> {frontmatter.date}</p>
                <p class="text-md flex gap-2"><Icon name="mdi:clock-time-eight-outline" class="w-6 h-6" />{frontmatter.timesc}</p>
                <p class="flex gap-2"><Icon name="mdi:home" class="w-6 h-6" />{frontmatter.addresssc}</p>
                <p class="flex gap-2"><Icon name="mdi:google-maps" class="w-8 h-8" />{frontmatter.locationsc}</p>
              <div class="group">
                <a href={frontmatter.mapssc}>
                  <button
                class=`mx-auto mt-8 flex items-center justify-center rounded-full px-4 py-2 text-center text-sm font-medium ${frontmatter.txsc} ${frontmatter.bgth}`
                >Google Maps <Icon name="mdi:google-maps" class="w-6 h-6" /></button
              >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="animasi8 relative overflow-hidden">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:lg:w-1/5">
        <div>
          <img src=`${frontmatter.dekorfs}` class="" alt="JejakBahagia" />
        </div>
        <div class="right-0 top-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-90 right-0 top-0" alt="JejakBahagia" />
        </div>
        <div class="left-0 bottom-0 -rotate-90">
          <img src=`${frontmatter.dekorfs}` alt="JejakBahagia" />
        </div>
        <div class="right-0 bottom-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-180 right-0 top-0" alt="JejakBahagia" />
        </div>
      </div>
      <div class="container mx-auto px-6 py-20">
        <div class=`text-center my-5 mb-10 fade-down ${frontmatter.txsc}`>
          <h2 class="fade-down opacity-0 text-xl md:text-2xl font-bold mt-5 font-josefin ">A Glimpse of</h2>
          <h2 class="fade-down opacity-0 text-center font-nautigal text-5xl lg:text-8xl">
            Our Moments
          </h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 max-w-screen-lg mx-auto justify-center gap-2 pb-20 *:w-full *:rounded-lg *:md:max-w-4xl *:p-1 *:relative">
          <div class="fade-right">
            <div class="truncate rounded-lg">
              <img
                src={frontmatter.imgstory1}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear rounded-lg rounded-lg"
              />
            </div>
          </div>
          <div class="fade-down opacity-0">
            <div class="truncate rounded-lg">
              <img
                src={frontmatter.imgstory2}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear rounded-lg rounded-lg"
              />
            </div>
          </div>
          <div class="fade-up opacity-0">
            <div class="truncate rounded-lg">
              <img
                src={frontmatter.imgstory3}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear rounded-lg rounded-lg"
              />
            </div>
          </div>
          <div class="fade-left opacity-0">
            <div class="truncate rounded-lg">
              <img
                src={frontmatter.imgstory4}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear rounded-lg rounded-lg"
              />
            </div>
          </div>
          <div class="fade-up opacity-0">
            <div class="truncate rounded-lg">
              <img
                src={frontmatter.imgstory5}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear rounded-lg rounded-lg"
              />
            </div>
          </div>
          <div class="fade-left opacity-0">
            <div class="truncate rounded-lg">
              <img
                src={frontmatter.imgstory6}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear rounded-lg rounded-lg"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="animasi9 relative bg-cover bg-no-repeat bg-center bg-fixed overflow-hidden">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:lg:w-1/5">
        <div>
          <img src=`${frontmatter.dekorfs}` class="" alt="JejakBahagia" />
        </div>
        <div class="right-0 top-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-90 right-0 top-0" alt="JejakBahagia" />
        </div>
        <div class="left-0 bottom-0 -rotate-90">
          <img src=`${frontmatter.dekorfs}` alt="JejakBahagia" />
        </div>
        <div class="right-0 bottom-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-180 right-0 top-0" alt="JejakBahagia" />
        </div>
      </div>
      <div class="container py-20 px-6 text-center mx-auto relative z-10">
        <div class=`text-center my-10 ${frontmatter.txfs}`>
          <h2 class="fade-right opacity-0 text-5xl lg:text-8xl font-nautigal">Wedding Gift</h2>
          <p class="fade-left opacity-0 max-w-prose mx-auto font-bold mt-5 font-josefin">Doa & restu anda di pernikahan kami cukuplah sebagai bingkisan, namun jika anda ingin memberi lebih, kami dengan senang hati menerimanya dan akan semakin melengkapi kebahagiaan kami.</p>
        </div>
        <div class="flex flex-col md:flex-row gap-8 justify-center items-center w-full max-w-screen-md mx-auto">
          <div class=`fade-down opacity-0 py-8 px-4 md:px-16 mx-auto mt-16 w-full max-w-xs justify-center md:flex mx-auto gap-5 rounded-lg border-2 ${frontmatter.bgfs} ${frontmatter.bdr} shadow-lg`>
            <div class="text-center font-poppins flex flex-col items-center">
              <img class="h-8 w-1/2 lg:w-full" src={frontmatter.logoml} alt="JejakBahagia">
              <div class:list={[`mt-4 font-josefin ${frontmatter.txth}`]}>
                <p class="max-w-prose">{frontmatter.namebankml}</p>
                <span class="copy-content font-bold">{frontmatter.numberbankml}</span>
                <div class="btn-copy pt-5">
                  <button class:list={[`${frontmatter.bgth} ${frontmatter.txfs} px-5 py-2 rounded-lg`]}>Copy Rekening</button>
                </div>
                <span class="copy-message absolute hidden inset-x-0">Rekening dicopy</span>
              </div>
            </div>
          </div>
          <div class=`fade-up opacity-0 py-8 px-4 md:px-16 mx-auto mt-16 w-full max-w-xs justify-center md:flex mx-auto gap-5 rounded-lg border-2 ${frontmatter.bgfs} ${frontmatter.bdr} shadow-lg`>
            <div class="text-center font-poppins flex flex-col items-center">
              <img class="h-8 w-1/2 lg:w-full" src={frontmatter.logofml} alt="JejakBahagia">
              <div class:list={[`mt-5 font-josefin ${frontmatter.txth}`]}>
                <p class="max-w-prose">{frontmatter.namebankfml}</p>
                <span class="copy-content font-bold">{frontmatter.numberbankfml}</span>
                <div class="btn-copy pt-5">
                  <button class:list={[`${frontmatter.bgth} ${frontmatter.txfs} px-5 py-2 rounded-lg`]}>Copy Rekening</button>
                </div>
                <span class="copyMessage absolute hidden inset-x-0">Rekening dicopy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="animasi10 overflow-hidden relative">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:lg:w-1/5">
        <div>
          <img src=`${frontmatter.dekorfs}` class="" alt="JejakBahagia" />
        </div>
        <div class="right-0 top-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-90 right-0 top-0" alt="JejakBahagia" />
        </div>
        <div class="left-0 bottom-0 -rotate-90">
          <img src=`${frontmatter.dekorfs}` alt="JejakBahagia" />
        </div>
        <div class="right-0 bottom-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-180 right-0 top-0" alt="JejakBahagia" />
        </div>
      </div>
      <div class="container py-20 z-50 px-6 text-center mx-auto relative">
        <div class:list={[`text-center my-5 mb-10 ${frontmatter.txsc}`]}>
          <h2 class="fade-right opacity-0 text-6xl lg:text-8xl font-nautigal">
            Ucapan & Doa
          </h2>
          <h2 class="fade-right opacity-0 text-lg md:text-2xl font-bold mt-5 font-josefin">Please Confirm Your Attendance</h2>
        </div>

        <Rsvp color="gray-600" />
          
      </div>
    </section>
    <Footerpost />
    <Audio />
    <audio id="myAudio" loop class="hidden">
      <source src=`/assets/${frontmatter.music}.mp3` type="audio/mpeg">
    </audio>
    <Animation /> 
    <Payment />
    <Countdown count={frontmatter.countdown} />
  </main>
</Noheader>

