---
import Noheader from '../../layouts/noheader.astro';
import '@fontsource/montecarlo';
import '@fontsource-variable/josefin-sans';
import { Icon } from 'astro-iconify';
import Namatamu from '../../layouts/namatamu.astro'
import Payment from '../../layouts/payment.astro'
import Rsvp from '../../layouts/rsvp.astro'
import Footerpost from '../../layouts/footer-post.astro'
import Audio from '../../layouts/audio.astro'
import Animation from '../../layouts/animation.astro';
export const data = {
  slug: "demo/wedding-13",
  title: "Demo 13",
  type: "Tanpa Foto",
  link: "Preview",
  price: "Rp. 75.000",
  unprice: "Rp. 100.000",
  bgClr: "purple-200",
  txClr: "purple-600",
  number: 5,
  img: {
    url: '/assets/demo-13.webp',
    alt: "jejak bahagia"
  },
  logobankml: {
    url: '/assets/bca.png'
  },
  logobankfml: {
    url: '/assets/bca.png'
  },
  male: "Avif",
  ml: "A",
  fullmale: "Avif Maulana",
  female: "Maria",
  fml: "M",
  fullfemale: "Maria Christin",
  date: "Jumat, 05 Januari 2030",

  childmale: "Putra Pertama dari Pasangan",
  childfemale: "Putri Pertama dari Pasangan",
  parentmale: "Bambang & Mulyani",
  parentfemale: "Joko & Siti",
  instagrammale: "invivit.id",
  instagramfemale: "invivit.id",
  citymale: "Yogyakarta",
  cityfemale: "Lampung",
  music: "yovie-nuno-janji-suci",

//name bank
  bankml: "BCA",
  namebankml: "Yanto Nugroho",
  numberbankml: "123456789",
  bankfml: "BCA",
  namebankfml: "Yanto Nugroho",
  numberbankfml: "123456789",
  // waktu & tempat acara
  timefs: "08:00 - 09:00 WIB",
  timesc: "10:00 - 11:00 WIB",
  timeth: "13:00 - end WIB",
  addressfs: "Masjid Kampus UGM",
  addresssc: "Jogja Expo Center",
  locationfs: "Jl. Raya Janti Jl. Wonocatur, Wonocatur, Banguntapan, Kec. Banguntapan, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55198",
  locationsc: "Jl. Raya Janti Jl. Wonocatur, Wonocatur, Banguntapan, Kec. Banguntapan, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55198",
  mapsfs: "https://maps.app.goo.gl/fpXEChVvcrKveA468",
  mapssc: "https://maps.app.goo.gl/fpXEChVvcrKveA468",

  
  quote: "And everything that We have made in pairs so that you may remember (the greatness of Allah). Q.S Adz-Dzariat verse 49",
}

const { frontmatter } = Astro.props;
const title = frontmatter ? frontmatter.title : data.title;
const bgClr = frontmatter ? frontmatter.bgClr : data.bgClr;
const txClr = frontmatter ? frontmatter.txClr : data.txClr;

const male = frontmatter ? frontmatter.male : data.male;
const ml = frontmatter ? frontmatter.ml : data.ml;
const fullmale = frontmatter ? frontmatter.fullmale : data.fullmale;
const female = frontmatter ? frontmatter.female : data.female;
const fml = frontmatter ? frontmatter.fml : data.fml;
const fullfemale = frontmatter ? frontmatter.fullfemale : data.fullfemale;
const date = frontmatter ? frontmatter.date : data.date;

const childmale = frontmatter ? frontmatter.childmale : data.childmale;
const childfemale = frontmatter ? frontmatter.childfemale : data.childfemale;
const parentmale = frontmatter ? frontmatter.parentmale : data.parentmale;
const parentfemale = frontmatter ? frontmatter.parentfemale : data.parentfemale;
const instagrammale = frontmatter ? frontmatter.instagrammale : data.instagrammale;
const instagramfemale = frontmatter ? frontmatter.instagramfemale : data.instagramfemale;
const citymale = frontmatter ? frontmatter.citymale : data.citymale;
const cityfemale = frontmatter ? frontmatter.cityfemale : data.cityfemale;
const music = frontmatter ? frontmatter.music : data.music;
//bank
const bankml = frontmatter ? frontmatter.bankml : data.bankml;
const namebankml = frontmatter ? frontmatter.namebankml : data.namebankml;
const numberbankml = frontmatter ? frontmatter.numberbankml : data.numberbankml;
const logobankml = frontmatter ? frontmatter.logobankml ? frontmatter.logobankml.url ? frontmatter.logobankml.url : data.logobankml.url :  data.logobankml.url : data.logobankml.url;
const bankfml = frontmatter ? frontmatter.bankfml : data.bankfml;
const namebankfml = frontmatter ? frontmatter.namebankfml : data.namebankfml;
const numberbankfml = frontmatter ? frontmatter.numberbankfml : data.numberbankfml;
const logobankfml = frontmatter ? frontmatter.logobankfml ? frontmatter.logobankfml.url ? frontmatter.logobankfml.url : data.logobankfml.url :  data.logobankfml.url : data.logobankfml.url;
//waktu & tempat acara
const timefs = frontmatter ? frontmatter.timefs : data.timefs;
const timesc = frontmatter ? frontmatter.timesc : data.timesc;
const addressfs = frontmatter ? frontmatter.addressfs : data.addressfs;
const addresssc = frontmatter ? frontmatter.addresssc : data.addresssc;
const mapsfs = frontmatter ? frontmatter.mapsfs : data.mapsfs;
const mapssc = frontmatter ? frontmatter.mapssc : data.mapssc;
const locationfs = frontmatter ? frontmatter.locationfs : data.locationfs;
const locationsc = frontmatter ? frontmatter.locationsc : data.locationsc;

//story & quote
const quote = frontmatter ? frontmatter.quote : data.quote;

---

<Noheader
  title={title}
  desc="Ini halaman Demo Wedding 1 dari undangan"
>
  <input type="checkbox" id="toggle" class="peer hidden peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear"/>
  <section class=`animasi bg-${bgClr} hero relative h-screen bg-cover bg-center flex items-center overflow-hidden peer-checked:h-0 peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear peer-checked:delay-500`>
    <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:md:w-1/3 *:lg:w-1/5">
        <div>
            <img src="/assets/dekor-12.webp" class="animate-fadedown" alt="JejakBahagia" />
        </div>
        <div class="rotate-90 top-0 right-0">
          <img src="/assets/dekor-12.webp" class="animate-fadedown" alt="JejakBahagia" />
      </div>
        <div class="-rotate-90 left-0 bottom-0">
            <img src="/assets/dekor-12.webp" class="animate-fadedown right-0 top-0" alt="JejakBahagia" />
        </div>
        <div>
          <img src="/assets/dekor-12.webp" class="animate-fadedown" alt="JejakBahagia" />
      </div>
      <div class="-rotate-180 right-0 bottom-0">
          <img src="/assets/dekor-12.webp" class="animate-fadedown right-0 top-0" alt="JejakBahagia" />
      </div>
    </div>
    </div>
      
    <div class="container mx-auto px-6">
      <div class="h-screen  py-12 flex flex-col justify-center items-center relative">
        <div class=`w-full flex flex-col justify-center items-center text-${txClr} relative`>
            <div class="mx-auto text-center w-full md:w-1/2">
                <div class="flex flex-row h-24">
                    <h1 class=`animate-fadedown text-${txClr} text-8xl text-left font-montecarlo w-1/2`>{fml}</h1>
                    <div class=`animate-fadeleft border-r-2 border-t-2 border-${txClr} w-1/2`></div>
                </div>
                <div class={`flex flex-row text-${txClr} *:text-2xl *:md:text-3xl *:lg:text-4xl *:font-montecarlo *:w-full`}>
                    <p class="animate-faderight text-left">{ fullfemale } </p>
                    <p class="animate-fadeleft text-end ">{ fullmale } </p>
                </div>
                <div class="flex flex-row h-24">
                    <div class=`animate-faderight border-l-2 border-b-2 border-${txClr} w-1/2`></div>
                    <h1 class=`animate-fadeup text-${txClr} text-8xl text-center sm:text-end font-montecarlo w-1/2`>{ml}</h1>
                </div>
                <h3 class="animate-fadeup mt-2 font-josefin">Dear Mr./Mrs./Ms.</h3>
                <h4 id="invite-name" class="animate-fadeup text-xl font-josefin my-3 capitalize">
                <Namatamu /> Tamu Undangan
                </h4>
            </div>
            <label for="toggle" id="toaudio"
            class="animate-fadeup mt-5 px-6 py-2 relative bg-purple-600 rounded-full tracking-widest text-white font-josefin flex gap-1 transition-all duration-700 ease-linear hover:bg-purple-700"
            ><Icon name="mdi:love-letter" class="w-5 h-5" />Buka Undangan 
            </label>
            <a href="http://localhost:4321/send?male=dadadng&female=sitii&url=http://localhost:4321/posts/oca-tito" class="hidden">bagikan</a>
        </div>
      </div>
      
        
    </div>
  </section>
  <main id="myDIV" class=`block bg-${bgClr} peer-checked:block`>
    <section class="animasi relative h-screen overflow-hidden">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:md:w-1/3 *:lg:w-1/5">
        <div>
            <img src="/assets/dekor-12.webp" class="animate-fadedown" alt="JejakBahagia" />
        </div>
        <div class="rotate-90 top-0 right-0">
          <img src="/assets/dekor-12.webp" class="animate-fadedown" alt="JejakBahagia" />
        </div>
        <div class="-rotate-90 left-0 bottom-0">
            <img src="/assets/dekor-12.webp" class="animate-fadedown right-0 top-0" alt="JejakBahagia" />
        </div>
        <div>
          <img src="/assets/dekor-12.webp" class="animate-fadedown" alt="JejakBahagia" />
      </div>
      <div class="-rotate-180 right-0 bottom-0">
          <img src="/assets/dekor-12.webp" class="animate-fadedown right-0 top-0" alt="JejakBahagia" />
      </div>
    </div>
        <div class="container px-6 mx-auto relative">
            <div class="h-screen flex flex-col items-center justify-center">
              <div class=`animate-fadedown flex flex-col items-center justify-center text-center sm:flex-row gap-3 lg:gap-8 w-full text-center font-montecarlo text-${txClr} text-center text-6xl lg:text-8xl`>
                <span>{ female }</span>
                <span class="flex items-center justify-center"> <Icon name="mdi:cards-heart" class=`text-${txClr} w-12 h-12` /> </span> 
                <span> { male } </span> 
              </div>
                <p class=`animate-fadeup italic text-${txClr} mt-8 text-center font-poppins tracking-widest max-w-prose`>{quote}</p>   
            </div>
        </div>
      </div>
    </section>
    <section class="animasi1 relative overflow-hidden">
        <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:md:w-1/3 *:lg:w-1/5">
          <div>
            <img src="/assets/dekor-12.webp" class="animate-fadedown" alt="JejakBahagia" />
        </div>
        <div class="rotate-90 top-0 right-0">
          <img src="/assets/dekor-12.webp" class="animate-fadedown" alt="JejakBahagia" />
        </div>
        </div>
        <div class="container mx-auto relative py-20 px-6">
          <div class=`flex flex-col text-center text-${txClr} items-center py-12`>
            <p class="fade-down opacity-0 text-center font-montecarlo text-3xl md:text-5xl">
                Bismillahirrahmanirrahim
            </p>
            <p class="fade-up opacity-0 font-medium py-8 font-josefin">
                Dengan memohon Rahmat dan <br>Ridho Allah Subhanahu wa ta'ala kami bermaksud<br>menyelenggarakan Pernikahan<br>Putra-Putri kami
            </p>
          </div>
          <div class="mx-auto p-4">
            <div class="flex flex-col lg:flex-row justify-center items-center gap-11 gap-y-11 max-w-4xl mx-auto space-y-12 md:space-y-0 *:text-center *:w-full *:flex *:flex-col *:items-center">
              <div class="relative w-full h-full">
                <div class="fade-right opacity-0 relative flex items-center justify-center w-72">
                    <div class="rounded-full overflow-hidden mx-auto flex flex-col items-center justify-center w-60 h-60 relative">
                      <img src="/assets/animation2.webp" alt="Jejak Bahagia Frame" class="rounded-full absolute top-5 right-5">
                    </div>
                    <img src="/assets/dekor-13.webp" alt="Jejak Bahagia Frame" class="absolute">
                </div>
                <h3 class=`fade-left opacity-0 text-6xl mt-6 font-montecarlo text-${txClr}`>
                    {female}
                </h3>
                <div class=`fade-up opacity-0 font-josefin space-y-3 relative text-${txClr}`>
                    <p class=`text-xl font-medium border-b-2 border-b-{txClr}`>
                        {fullfemale}
                    </p>
                    <p class="text-lg">
                        {childfemale}
                    </p>
                    <p class="text-lg font-medium">
                        {parentfemale}
                    </p>
                    <p>
                        {cityfemale}
                    </p>
                    <div class="flex gap-3 text-center justify-center mt-4">
                        <a href={`https://www.instagram.com/${instagramfemale}`} class=`flex flex-row gap-2 items-center *:w-8 *:h-8 *:text-${txClr}`>
                            <Icon name="mdi:instagram"/>
                        </a>
                    </div>
                </div>
              </div>
            <div>
                <p class="zoom-in opacity-0 text-${txClr} font-montecarlo text-4xl"><Icon name="mdi:ring" class=`text-${txClr} w-16 h-16` /></p>
            </div>
            <div class="relative w-full h-full">
              <div class="fade-right opacity-0 relative flex items-center justify-center w-72">
                  <div class="rounded-full overflow-hidden mx-auto flex flex-col items-center justify-center w-60 h-60 relative">
                    <img src="/assets/animation1.webp" alt="Jejak Bahagia Frame" class="rounded-full absolute top-5 right-5">
                  </div>
                  <img src="/assets/dekor-13.webp" alt="Jejak Bahagia Frame" class="absolute">
              </div>
              <h3 class=`fade-left opacity-0 text-6xl mt-6 font-montecarlo text-${txClr}`>
                  {male}
              </h3>
              <div class=`fade-up opacity-0 font-josefin space-y-3 relative text-${txClr}`>
                  <p class=`text-xl font-medium border-b-2 border-b-${txClr}`>
                      {fullmale}
                  </p>
                  <p class="text-lg">
                      {childmale}
                  </p>
                  <p class="text-lg font-medium">
                      {parentmale}
                  </p>
                  <p>
                      {citymale}
                  </p>
                  <div class="flex gap-3 text-center justify-center mt-4">
                      <a href={`https://www.instagram.com/${instagrammale}`} class=`flex flex-row gap-2 items-center *:w-8 *:h-8 *:text-${txClr}`>
                          <Icon name="mdi:instagram"/>
                      </a>
                  </div>
              </div>
            </div>
          
            </div>
          </div>
        </div>
    </section>
    <section class=`animasi2 relative bg-cover bg-no-repeat bg-center bg-fixed overflow-hidden before:content-[''] before:bg-gradient-to-b before:from-${bgClr} before:to-transparent before:inset-0 before:bg-cover before:absolute`
      style="background-image: url(/assets/ring-cd.jpg);">
        <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:md:w-1/3 *:lg:w-1/5">
            <div class="right-0 bottom-0 rotate-180">
                <img src="/assets/dekor-12.webp" class="" alt="JejakBahagia" />
            </div>
            <div class="left-0 bottom-0 -rotate-90">
                <img src="/assets/dekor-12.webp" alt="JejakBahagia" />
            </div>
        </div>
      <div class="container pb-28 mx-auto relative z-10">
        <div class=`text-center text-${txClr} my-5`>
          <h2 class="fade-left opacity-0 text-2xl font-bold mt-5 md:mt-0 mb-3 font-josefin">
            Save The Date</h2>
          <h1 class="fade-right opacity-0 text-center font-montecarlo text-4xl md:text-6xl lg:text-8xl">
            Our Happy Day
          </h1>
        </div>
        <div id="timer" class=`fade-up opacity-0 grid grid-cols-2 md:grid-cols-4 gap-y-8 justify-center text-center items-center mt-20 sm:px-20 max-w-3xl mx-auto *:text-center *:text-4xl *:sm:text-6xl *:font-medium *:text-${bgClr} *:p-5 *:bg-white *:mx-2 *:rounded-lg`>
        </div>
        <div id="endEvent" class=`fade-up opacity-0 py-20 hidden text-center text-text-${txClr} text-2xl inset-x-0 capitalize font-josefin`>event telah berakhir</div>
      </div>
    </section>
    <section id="endEvent" class="animasi3 relative border-t-2 border-purple-600 overflow-hidden">
        <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:md:w-1/3 *:lg:w-1/5">
            <div>
                <img src="/assets/dekor-12.webp" alt="JejakBahagia" />
            </div>
            <div class="right-0 top-0 rotate-90">
                <img src="/assets/dekor-12.webp" class="right-0 top-0" alt="JejakBahagia" />
            </div>
            <div class="right-0 bottom-0 rotate-180">
                <img src="/assets/dekor-12.webp" class="" alt="JejakBahagia" />
            </div>
            <div class="left-0 bottom-0 -rotate-90">
                <img src="/assets/dekor-12.webp" alt="JejakBahagia" />
            </div>
        </div>
      <div class="container mx-auto py-20 px-6">
        <div class=`text-center text-${txClr} my-5 mb-10`>
          <h2 class="fade-left opacity-0 text-2xl font-bold mt-5 md:mt-0 mb-3 font-josefin">Where & When</h2>
          <h1 class="fade-right opacity-0 text-center font-montecarlo text-5xl lg:text-8xl">
            Wedding Day
          </h1>
        </div>
        <div
          class=`grid gird-cols-1 sm:grid-cols-2 max-w-4xl w-full mx-auto justify-center items-center gap-4 mt-5 *:mx-auto *:h-full *:w-full *:opacity-0 *:py-4 *:px-8 *:rounded-xl *:border-2 *:border-${txClr}`>
          <div class="fade-right">
            <div class=`text-center font-josefin text-${txClr}`>
              <h2 class="text-center font-montecarlo text-4xl">Akad Nikah</h2>
              <p class="mt-2 sm:mt-4">
                <strong class="text-md font-bold"
                  >{date}
                </strong>
              </p>
              <p class="mt-2 sm:mt-4 text-md">{timefs}</p>
              <p class="mt-2 sm:mt-4 text-md capitalize">{locationfs}</p>
              <p class="mt-2 sm:mt-4">
                <strong class="text-md font-bold text-${txClr}"
                  >{addressfs}</strong
                >
              </p>
            </div>
            <div class="group">
              <a href={mapsfs}>
                <button
              class=`mx-auto mt-8 flex items-center justify-center rounded-full text-${bgClr} bg-${txClr} px-4 py-2 text-center text-sm font-medium group-hover:bg-purple-800 group-hover:border-none group-hover:duration-500 group-hover:transition-all`
              >Google Maps <Icon name="mdi:google-maps" class="w-6 h-6" /></button>
              </a>
            </div>
          </div>
          <div class="fade-left">
            <div class=`text-center font-josefin text-${txClr}`>
                <h2 class="text-center font-montecarlo text-5xl">Resepsi</h2>
                <p class="mt-2 sm:mt-4">
                <strong class="text-md font-bold">{date}</strong></p>
                <p class="mt-2 sm:mt-4 text-md">{timesc}</p>
                <p class="mt-2 sm:mt-4 text-md">{locationsc}</p>
                <p class="mt-2 sm:mt-4">
                <strong class="text-md font-bold"
                >{addresssc}</strong></p>
            </div>
            <div class="group">
              <a href={mapssc}>
                <button
              class=`mx-auto mt-8 flex items-center justify-center rounded-full text-${bgClr} bg-${txClr} px-4 py-2 text-center text-sm font-medium group-hover:bg-purple-800 group-hover:border-none group-hover:duration-500 group-hover:transition-all`
              >Google Maps <Icon name="mdi:google-maps" class="w-6 h-6" /></button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="animasi4 relative bg-cover bg-no-repeat bg-center bg-fixed py-20 overflow-hidden before:content-[''] before:bg-gradient-to-b before:from-purple-200 before:to-transparent before:inset-0 before:bg-cover before:absolute" style="background-image: url(/assets/gift.jpg); ">
      <div class="container text-center mx-auto relative z-10">
        <div class="fade-down">
          <h2 class="fade-down opacity-0 text-5xl lg:text-8xl text-${txClr} font-montecarlo">Wedding Gift</h2>
          <p class="fade-right opacity-0 max-w-prose mx-auto font-bold mt-5 font-josefin">Doa & restu anda di pernikahan kami cukuplah sebagai bingkisan, namun jika anda ingin memberi lebih, kami dengan senang hati menerimanya dan akan semakin melengkapi kebahagiaan kami.</p>
        </div>
        <div class="flex flex-col md:flex-row gap-8 justify-center items-center w-full max-w-screen-md mx-auto">
          <div class="fade-down opacity-0 py-8 px-4 md:px-16 mx-auto mt-16 w-full max-w-xs justify-center md:flex mx-auto gap-5 bg-white rounded shadow-lg">
            <div class="text-center font-poppins flex flex-col items-center">
              <img class="rounded-lg object-cover h-12 w-12" src={logobankml} alt="JejakBahagia">
              <div class="font-josefin">
                <p class="text-2xl text-${txClr} mt-5 md:mt-0 font-bold mb-3">{bankml}</p>
                <p class="max-w-prose">{namebankml}</p>
                <span class="copy-content font-bold">{numberbankml}</span>
                <div class="btn-copy pt-5">
                  <button class="bg-purple-600 text-white px-5 py-2 rounded-lg hover:bg-purple-800">Copy Rekening</button>
                </div>
                <span class="copy-message absolute hidden inset-x-0">Rekening dicopy</span>
              </div>
            </div>
          </div>
          <div class="fade-down opacity-0 py-8 px-4 md:px-16 mx-auto mt-16 w-full max-w-xs justify-center md:flex mx-auto gap-5 bg-white rounded shadow-lg">
            <div class="text-center font-poppins flex flex-col items-center">
              <img class="rounded-lg object-cover h-12 w-12" src={logobankfml} alt="JejakBahagia">
              <div class="font-josefin">
                <p class="text-2xl text-${txClr} mt-5 md:mt-0 font-bold mb-3">{bankfml}</p>
                <p class="max-w-prose">{namebankfml}</p>
                <span class="copy-content font-bold">{numberbankfml}</span>
                <div class="btn-copy pt-5">
                  <button class="bg-purple-600 text-white px-5 py-2 rounded-lg hover:bg-purple-800">Copy Rekening</button>
                </div>
                <span class="copyMessage absolute hidden inset-x-0">Rekening dicopy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="animasi5 relative h-fit overflow-hidden">
        <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:md:w-1/3 *:lg:w-1/5">
            <div>
                <img src="/assets/dekor-12.webp" class="fade-down opacity-0" alt="JejakBahagia" />
            </div>
            <div class="right-0 top-0 rotate-90">
                <img src="/assets/dekor-12.webp" class="fade-down opacity-0 right-0 top-0" alt="JejakBahagia" />
            </div>
            <div class="right-0 bottom-0 rotate-180">
                <img src="/assets/dekor-12.webp" class="" alt="JejakBahagia" />
            </div>
            <div class="left-0 bottom-0 -rotate-90">
                <img src="/assets/dekor-12.webp" alt="JejakBahagia" />
            </div>
        </div>
      <div class="container py-20 px-6 text-center mx-auto relative">
        <div class="text-center my-5 mb-10">
          <h2 class="fade-down opacity-0 text-${txClr} text-center font-montecarlo text-5xl lg:text-8xl">
            Ucapan & Doa
          </h2>
          <h2 class="fade-down opacity-0 text-2xl text-${txClr}/50 font-bold mt-5 md:mt-0 mb-3 font-josefin">Please Confirm Your Attendance</h2>
        </div>

        <Rsvp color="purple-600" />
          
      </div>
    </section>
    <Footerpost />
    <section class="fixed bottom-5 right-5 z-20">
      <div class="container flex flex-col items-end justify-end mx-auto">
        
        
      <Audio />
      </div>
    </section>
    <audio id="myAudio" loop class="hidden">
        <source src=`/assets/${music}.mp3` type="audio/mpeg">
    </audio>
    <Animation />
    <Payment />
  </main>

  <script>

    const timerContainer = document.getElementById("timer");
    if(timerContainer){
        const tanggalTujuan = new Date("Jun 26, 2024 08:00:00").getTime();
        
        const hitungMundur = setInterval(function(){
            const sekarang = new Date().getTime();
            const selisih = tanggalTujuan - sekarang;
        
            const hari = Math.floor(selisih / (1000 * 60 * 60 * 24));
            const jam = Math.floor(selisih % (1000 * 60 * 60 * 24) / (1000 * 60 * 60));
            const menit = Math.floor(selisih % (1000 * 60 * 60) / (1000 * 60));
            const detik = Math.floor(selisih % (1000 * 60) / (1000));
    
            timerContainer.innerHTML = 
                '<div><div class="font-josefin">' + hari + '<br><span class="text-xl">Hari</span></div></div>' +
                '<div><div class="font-josefin">' + jam + '<br><span class="text-xl">Jam</span></div></div>' +
                '<div><div class="font-josefin">' + menit + '<br><span class="text-xl">Menit</span></div></div>' +
                '<div><div class="font-josefin">' + detik + '<br><span class="text-xl">Detik</span></div></div>';
                if (selisih < 0) {
                clearInterval(hitungMundur);
                timerContainer.style.display = "none";
                document.getElementById("endEvent").classList.remove("hidden");
        }
        });
    }

    
    </script>
</Noheader>

