---
import Noheader from '../../layouts/noheader.astro';
import '@fontsource/the-nautigal';
import '@fontsource/poppins';
import { Icon } from 'astro-iconify';
import Namatamu from '../../layouts/namatamu.astro'
import Payment from '../../layouts/payment.astro'
import Rsvp from '../../layouts/rsvp.astro'
import Countdown from '../../layouts/countdown.astro'
import Footerpost from '../../layouts/footer-post.astro'
import Animation from '../../layouts/animation.astro'

export const data = {
  slug: "demo/wedding-2",
  title: "Demo 2",
  type: "Diamond",
  img: {
    url: '/src/assets/demo-2.jpg',
    alt: "jejak bahagia"
  },
  cover: {
    url: '/src/assets/bg-wedding-1.jpg',
    alt: "jejak bahagia"
  },
  imgth: {
    url: '/src/assets/bg-wedding-2.jpg'
  },

  //Img kedua mempelai
  imgfr: {
    url: '/src/assets/girl-wedding.jpg'
  },
  imgfv: {
    url: '/src/assets/man-wedding.jpg'
  },

  //Img Our Story
  imgsx: {
    url: '/src/assets/foto-stroy-1.jpg'
  },
  imgsv: {
    url: '/src/assets/foto-stroy-2.jpg'
  },
  imgeg: {
    url: '/src/assets/foto-stroy-3.jpg'
  },
  //img Our Moments
  imgstory1: {
    url: '/src/assets/foto-moment-1.jpg'
  },
  imgstory2: {
    url: '/src/assets/foto-moment-2.jpg'
  },
  imgstory3: {
    url: '/src/assets/foto-moment-3.jpg'
  },
  imgstory4: {
    url: '/src/assets/foto-moment-1.jpg'
  },
  imgstory5: {
    url: '/src/assets/foto-moment-2.jpg'
  },
  imgstory6: {
    url: '/src/assets/foto-moment-3.jpg'
  },
  imgstory7: {
    url: '/src/assets/foto-moment-1.jpg'
  },
  imgstory8: {
    url: '/src/assets/foto-moment-3.jpg'
  },
  logobank: {
    url: '/src/assets/gopay.png'
  },
  male: "Joe",
  fullmale: "Jonathan Wijaya",
  female: "Chrissy",
  fullfemale: "Chrissy Gunawan",
  date: "Jumat, 05 Januari 2030",

  childmale: "Putra Pertama dari Pasangan",
  childfemale: "Putri Pertama dari Pasangan",
  parentmale: "Bambang & Mulyani",
  parentfemale: "Joko & Siti",
  instagrammale: "invivit.id",
  instagramfemale: "invivit.id",
  facebookmale: "invivit",
  facebookfemale: "invivit",
  citymale: "Yogyakarta",
  cityfemale: "Lampung",

//name bank
  bank: "Gopay",
  namebank: "Chrissy Gunawan",
  numberbank: "123456789",
  // waktu & tempat acara
  timefs: "08:00 - 09:00 WIB",
  timesc: "10:00 - 11:00 WIB",
  timeth: "13:00 - end WIB",
  addressfs: "Masjid Kampus UGM",
  addresssc: "Jogja Expo Center",
  addressth: "Rumah Mempelai Wanita",
  locationfs: "Jl. Raya Janti Jl. Wonocatur, Wonocatur, Banguntapan, Kec. Banguntapan, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55198",
  locationsc: "Jl. Raya Janti Jl. Wonocatur, Wonocatur, Banguntapan, Kec. Banguntapan, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55198",
  locationth: "Jl. Raya Janti Jl. Wonocatur, Wonocatur, Banguntapan, Kec. Banguntapan, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55198",
  mapsfs: "https://maps.app.goo.gl/fpXEChVvcrKveA468",
  mapssc: "https://maps.app.goo.gl/fpXEChVvcrKveA468",
  mapsth: "https://maps.app.goo.gl/fpXEChVvcrKveA468",

  
  storyfs: "Di sebuah kafe yang nyaman di tengah kota, dua orang asing, Juliet dan Romeo, tak sengaja bertemu. Romeo, seorang fotografer yang sedang mencari inspirasi untuk proyek terbarunya, sedangkan Juliet, seorang penulis lepas yang sedang mencatat ide-ide baru untuk novel romantisnya, tak menyadari bahwa matanya sedang bertatapan dengan seorang pria tampan di sisi lain kafe.",
  storysc: "Beberapa bulan kemudian, Romeo memutuskan bahwa dia tidak ingin kehilangan Juliet dari hidupnya. Dengan hati yang penuh harap, dia menyiapkan proposal yang tak terlupakan. Di bawah langit malam yang cerah, di taman yang dihiasi dengan ratusan lentera, Romeo berlutut di hadapan Juliet.",
  storyth: "Dari pertemuan tak terduga di kafe hingga momen indah pertunangan mereka di taman yang dipenuhi lentera, cerita cinta Juliet dan Romeo adalah bukti bahwa takdir bisa membawa dua hati yang saling mencari dan membuat mereka bersatu dalam cinta yang abadi.",
  quote: "And everything that We have made in pairs so that you may remember (the greatness of Allah). Q.S Adz-Dzariat verse 49",
}

const { frontmatter } = Astro.props;
const title = frontmatter ? frontmatter.title : data.title;

const male = frontmatter ? frontmatter.male : data.male;
const fullmale = frontmatter ? frontmatter.fullmale : data.fullmale;
const female = frontmatter ? frontmatter.female : data.female;
const fullfemale = frontmatter ? frontmatter.fullfemale : data.fullfemale;
const date = frontmatter ? frontmatter.date : data.date;

const childmale = frontmatter ? frontmatter.childmale : data.childmale;
const childfemale = frontmatter ? frontmatter.childfemale : data.childfemale;
const parentmale = frontmatter ? frontmatter.parentmale : data.parentmale;
const parentfemale = frontmatter ? frontmatter.parentfemale : data.parentfemale;
const instagrammale = frontmatter ? frontmatter.instagrammale : data.instagrammale;
const instagramfemale = frontmatter ? frontmatter.instagramfemale : data.instagramfemale;
const facebookmale = frontmatter ? frontmatter.facebookmale : data.facebookmale;
const facebookfemale = frontmatter ? frontmatter.facebookfemale : data.facebookfemale;
const citymale = frontmatter ? frontmatter.citymale : data.citymale;
const cityfemale = frontmatter ? frontmatter.cityfemale : data.cityfemale;

//bank
const bank = frontmatter ? frontmatter.bank : data.bank;
const namebank = frontmatter ? frontmatter.namebank : data.namebank;
const numberbank = frontmatter ? frontmatter.numberbank : data.numberbank;
const logobank = frontmatter ? frontmatter.logobank ? frontmatter.logobank.url ? frontmatter.logobank.url : data.logobank.url :  data.logobank.url : data.logobank.url;
//waktu & tempat acara
const timefs = frontmatter ? frontmatter.timefs : data.timefs;
const timesc = frontmatter ? frontmatter.timesc : data.timesc;
const timeth = frontmatter ? frontmatter.timeth : data.timeth;
const addressfs = frontmatter ? frontmatter.addressfs : data.addressfs;
const addresssc = frontmatter ? frontmatter.addresssc : data.addresssc;
const addressth = frontmatter ? frontmatter.addressth : data.addressth;
const mapsfs = frontmatter ? frontmatter.mapsfs : data.mapsfs;
const mapssc = frontmatter ? frontmatter.mapssc : data.mapssc;
const mapsth = frontmatter ? frontmatter.mapsth : data.mapsth;
const locationfs = frontmatter ? frontmatter.locationfs : data.locationfs;
const locationsc = frontmatter ? frontmatter.locationsc : data.locationsc;
const locationth = frontmatter ? frontmatter.locationth : data.locationth;

//story & quote
const storyfs = frontmatter ? frontmatter.storyfs : data.storyfs;
const storysc = frontmatter ? frontmatter.storysc : data.storysc;
const storyth = frontmatter ? frontmatter.storyth : data.storyth;
const quote = frontmatter ? frontmatter.quote : data.quote;

//Img header
const cover = frontmatter ? frontmatter.cover ? frontmatter.cover.url ? frontmatter.cover.url : data.cover.url :  data.cover.url : data.cover.url;
const imgth = frontmatter ? frontmatter.imgth ? frontmatter.imgth.url ? frontmatter.imgth.url : data.imgth.url :  data.imgth.url : data.imgth.url;

//Img kedua mempelai
const imgfr = frontmatter ? frontmatter.imgfr ? frontmatter.imgfr.url ? frontmatter.imgfr.url : data.imgfr.url :  data.imgfr.url : data.imgfr.url;
const imgfv = frontmatter ? frontmatter.imgfv ? frontmatter.imgfv.url ? frontmatter.imgfv.url : data.imgfv.url :  data.imgfv.url : data.imgfv.url;


//Img Our Story
const imgsx = frontmatter ? frontmatter.imgsx ? frontmatter.imgsx.url ? frontmatter.imgsx.url : data.imgsx.url :  data.imgsx.url : data.imgsx.url;
const imgsv = frontmatter ? frontmatter.imgsv ? frontmatter.imgsv.url ? frontmatter.imgsv.url : data.imgsv.url :  data.imgsv.url : data.imgsv.url;
const imgeg = frontmatter ? frontmatter.imgeg ? frontmatter.imgeg.url ? frontmatter.imgeg.url : data.imgeg.url :  data.imgeg.url : data.imgeg.url;

//Img Our Moments
const imgstory1 = frontmatter ? frontmatter.imgstory1 ? frontmatter.imgstory1.url ? frontmatter.imgstory1.url : data.imgstory1.url :  data.imgstory1.url : data.imgstory1.url;
const imgstory2 = frontmatter ? frontmatter.imgstory2 ? frontmatter.imgstory2.url ? frontmatter.imgstory2.url : data.imgstory2.url :  data.imgstory2.url : data.imgstory2.url;
const imgstory3 = frontmatter ? frontmatter.imgstory3 ? frontmatter.imgstory3.url ? frontmatter.imgstory3.url : data.imgstory3.url :  data.imgstory3.url : data.imgstory3.url;
const imgstory4 = frontmatter ? frontmatter.imgstory4 ? frontmatter.imgstory4.url ? frontmatter.imgstory4.url : data.imgstory4.url :  data.imgstory4.url : data.imgstory4.url;
const imgstory5 = frontmatter ? frontmatter.imgstory5 ? frontmatter.imgstory5.url ? frontmatter.imgstory5.url : data.imgstory5.url :  data.imgstory5.url : data.imgstory5.url;
const imgstory6 = frontmatter ? frontmatter.imgstory6 ? frontmatter.imgstory6.url ? frontmatter.imgstory6.url : data.imgstory6.url :  data.imgstory6.url : data.imgstory6.url;
const imgstory7 = frontmatter ? frontmatter.imgstory7 ? frontmatter.imgstory7.url ? frontmatter.imgstory7.url : data.imgstory7.url :  data.imgstory7.url : data.imgstory7.url;
const imgstory8 = frontmatter ? frontmatter.imgstory8 ? frontmatter.imgstory8.url ? frontmatter.imgstory8.url : data.imgstory8.url :  data.imgstory8.url : data.imgstory8.url;
---

<Noheader
  title={title}
  desc="Ini halaman Demo Wedding 2 dari undangan"
>
<input type="checkbox" id="toggle" class="peer hidden peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear " />
<section class="hero relative h-screen bg-cover bg-center peer-checked:h-0 peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear peer-checked:delay-500">
  <div class="absolute inset-0 bg-gray-500 bg-cover bg-center grayscale" style={`background-image:url(${cover})`}></div>
  
  <div class="container mx-auto pt-20 flex flex-col justify-center items-center text-white relative">
    <h1 class="fade-down text-sm md:text-xl mt-8 font-poppins font-semibold text-gray-800">
      Undangan Pernikahan
    </h1>
    <h2 class="fade-right text-center font-nautigal font-thin text-white max-[300px]:text-5xl min-[300px]:text-6xl md:text-7xl lg:text-8xl drop-shadow-xl">{ male } & { female }
    </h2>
    <div class="fade-up mx-auto text-center">
      <h3 class="mt-2 font-poppins">Dear Mr./Mrs./Ms.</h3>
      <h4 id="invite-name" class="text-xl font-poppins my-3 capitalize">
        <Namatamu /> nama tamu
      </h4>
      <p class="font-poppins text-xl md:text-2xl font-bold">{date}</p>
      <label
        for="toggle"
        class="mt-5 px-6 py-2 relative bg-gray-400 rounded-full shadow-xl text-gray-800 font-bold flex flex-row items-center justify-center gap-1 transition-all duration-700 ease-linear hover:bg-white"><Icon name="mdi:love-letter" class="w-5 h-5" /> Open Invitation </label>
    </div>
  </div>
</section>
<main id="myDIV" class="block bg-gray-100 peer-checked:block scroll-smooth">
  <section class="hero relative h-screen">
    <div class="absolute inset-0 bg-gray-500 bg-cover bg-center grayscale" style={`background-image:url(${imgth})`}></div>
    
    <div class="fade-down container mx-auto pt-20 flex flex-col justify-center items-center text-white relative z-50">
      <h2 class="text-center font-nautigal font-thin text-white max-[300px]:text-5xl min-[300px]:text-6xl md:text-7xl lg:text-9xl drop-shadow-xl">{ male } & { female }
      </h2>
      <p class="fade-right font-poppins text-xl md:text-2xl mt-5 font-bold">{date}</p>
    </div>
  </section>
  <section>
    <div class="container py-20 px-6 mx-auto">
      <div class="flex flex-col md:flex-row gap-16 max-w-4xl mx-auto my-12">
        <div class="fade-right rounded-lg grayscale">
          <img src={imgth} alt=""  class="rounded-3xl w-screen">
        </div>
        <div class="fade-left flex flex-col items-center justify-center font-poppins text-center">
          <img src="/src/assets/pattern.png" alt="">
          <p>{quote}</p>
        </div>
      </div>
    </div>
  </section>

<section class="bg-white">
  <div class="container py-20 px-6 mx-auto">
    <img src="/src/assets/pattern-2.png" alt="" class="mx-auto">
    <div class="flex flex-col lg:flex-row justify-center items-center gap-y-16 max-w-4xl mx-auto mt-5 [&>*]:text-center [&>*]:w-full [&>*]:flex [&>*]:flex-col [&>*]:items-center">
      <div>
        <div
          class="fade-right rounded-full w-48 h-48 md:w-60 md:h-60 bg-cover bg-center bg-white border-8 border-gray-500 flex justify-center items-center grayscale"
          style={`background-image:url(${imgfr})`}>
        </div>
        <div class="font-poppins space-y-3">
          <h3 class="fade-left text-8xl mt-6 font-nautigal text-gray-800">{ female }</h3>
          <div class="fade-up">
            <p class="text-xl font-medium w-max mx-auto border-b-2 border-b-gray-800">{ fullfemale }</p>
            <p class="text-lg">{childfemale}</p>
            <p class="text-lg font-medium text-gray-800">
              { parentfemale }
            </p>
            <p>{cityfemale}</p>
            <div class="flex gap-3 text-center justify-center mt-4">
              <a href={`https://www.facebook.com/${facebookfemale}`} class="flex flex-row gap-2 items-center">
                <Icon name="mdi:facebook" class="w-8 h-8 text-neutral-400 hover:text-gray-800" />
              </a>
              <a href={`https://www.instagram.com/${instagramfemale}`} class="flex flex-row gap-2 items-center">
                <Icon name="mdi:instagram" class="w-8 h-8 text-neutral-400 hover:text-gray-800" />
              </a>
            </div>
          </div>
        </div>
      </div>
        <div>
          <div
            class="fade-left rounded-full w-48 h-48 md:w-60 md:h-60 bg-cover bg-center bg-white border-8 border-gray-500 flex justify-center items-center grayscale"
            style={`background-image:url(${imgfv})`}>
          </div>
          <div class="font-poppins space-y-3">
            <h3 class="fade-right text-8xl mt-6 font-nautigal text-gray-800">{ male }</h3>
            <div class="fade-up">
                <p class="text-xl font-medium w-max mx-auto border-b-2 border-b-gray-800">{ fullmale }</p>
                <p class="text-lg">{ childmale }</p>
                <p class="text-lg font-medium text-gray-800">
                  { parentmale }
                </p>
                <p>{citymale}</p>
                <div class="flex gap-3 text-center justify-center mt-4">
                  <a href={`https://www.facebook.com/${facebookmale}`} class="flex flex-row gap-2 items-center">
                    <Icon name="mdi:facebook" class="w-8 h-8 text-neutral-400 hover:text-gray-800" />
                  </a>
                  <a href={`https://www.instagram.com/${instagrammale}`} class="flex flex-row gap-2 items-center">
                    <Icon name="mdi:instagram" class="w-8 h-8 text-neutral-400 hover:text-gray-800" />
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="relative">
  <div class="absolute inset-0 bg-gray-500 bg-cover bg-no-repeat bg-center bg-fixed bg-center grayscale blur-[1px]" style="background-image: url('/src/assets/ring-cd.jpg');">
  </div>
  <div class="container py-32 mx-auto relative z-10">
    <div class="fade-down text-center my-5">
      <h2 class="text-xl md:text-2xl font-bold mt-5 md:mt-0 mb-3 text-gray-800">Countdown to</h2>
      <h1 class="text-gray-800 text-center font-nautigal text-4xl md:text-6xl lg:text-8xl">
        Our Happy Day
      </h1>
    </div>
    <div id="timer" class="fade-left grid grid-cols-2 md:grid-cols-4 gap-y-8 justify-center text-center items-center mt-20 sm:px-20 max-w-3xl mx-auto [&>*]:text-center [&>*]:text-4xl [&>*]:sm:text-6xl [&>*]:font-bold [&>*]:font-poppins [&>*]:text-gray-800 [&>*]:p-1">
    </div>
    <Countdown/>
    <div class="grid grid-cols-1 md:grid-cols-2 max-w-4xl mx-auto gap-x-8 gap-y-16 mt-5 pt-16">
      <div class="fade-up rounded-lg w-full">
        <img src="/src/assets/foto-tambahan-2.jpg" alt=""  class="rounded-3xl grayscale-[75%]">
      </div>
      <div class="fade-up text-center font-poppins w-full">
        <h2 class="text-center font-nautigal text-4xl md:text-6xl text-gray-800">Akad Nikah</h2>
        <p class="mt-2 sm:mt-4">
          <strong class="text-md font-bold text-gray-800"
            >{date}
          </strong>
        </p>
        <p class="mt-2 sm:mt-4 text-md">{timefs}</p>
        <p class="mt-2 sm:mt-4">
          <strong class="text-md font-bold text-gray-800"
            >{addressth}</strong
          >
        </p>
        <p class="mt-2 sm:mt-4 text-sm">
          {locationfs}
        </p>
        <div class="group">
          <a href={mapsfs}>
            <button class="mx-auto mt-8 flex items-center justify-center rounded-full border border-gray-800 text-gray-800 px-4 py-2 text-center text-sm font-medium group-hover:bg-gray-800 group-hover:text-white group-hover:border-none group-hover:duration-500 group-hover:transition-all">Google Maps <Icon name="mdi:google-maps" class="w-6 h-6 text-gray-800 group-hover:text-white" />
            </button>
          </a>
        </div>
      </div>
      <div class="fade-down rounded-lg w-full md:order-last">
        <img src="/src/assets/foto-tambahan-3.jpg" alt=""  class="rounded-3xl grayscale-[75%]">
      </div>
      <div class="fade-down text-center font-poppins w-full">
        <h2 class="text-center font-nautigal text-4xl md:text-6xl text-gray-800">Resepsi</h2>
        <p class="mt-2 sm:mt-4">
          <strong class="text-md font-bold text-gray-800"
            >{date}
          </strong>
        </p>
        <p class="mt-2 sm:mt-4 text-md">{timesc}</p>
        <p class="mt-2 sm:mt-4">
          <strong class="text-md font-bold text-gray-800"
            >{addressth}</strong
          >
        </p>
        <p class="mt-2 sm:mt-4 text-sm">
          {locationsc}
        </p>
        <div class="group">
          <a href={mapssc}>
            <button class="mx-auto mt-8 flex items-center justify-center rounded-full border border-gray-800 text-gray-800 px-4 py-2 text-center text-sm font-medium group-hover:bg-gray-800 group-hover:text-white group-hover:border-none group-hover:duration-500 group-hover:transition-all">Google Maps <Icon name="mdi:google-maps" class="w-6 h-6 text-gray-800 group-hover:text-white" />
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-20">
  <div class="container py-20 px-6 text-center mx-auto">
    <div>
      <h2 class="fade-down text-gray-800 text-center font-nautigal text-6xl lg:text-8xl">Tentang Kami</h2>
    </div>
    <div class="mx-auto">
    <div class="fade-down bg-white rounded shadow-lg mx-auto my-5 w-full md:w-3/4 p-10">
      <div class="md:flex mx-auto gap-5 justify-center">
        <div class="w-full md:w-1/4">
          <img
            class="rounded-lg grayscale"
            src={imgsx}
            alt=""
          />
        </div>
        <div class="text-left font-poppins">
          <p class="text-5xl text-gray-800 mt-5 md:mt-0 font-nautigal mb-3">Fist Time</p>
          <p class="max-w-prose">
            {storyfs}
          </p>
        </div>
      </div>
    </div>
    <Icon name="mdi:arrow-u-down-left" class="w-24 h-24 mx-auto text-gray-400" />
    <div class="fade-up bg-white rounded shadow-lg mx-auto my-5 w-full md:w-3/4 p-10">
      <div class="md:flex mx-auto gap-5 justify-center">
        <div class="w-full md:w-1/4">
          <img
            class="rounded-lg grayscale"
            src={imgsv}
            alt=""
          />
        </div>
        <div class="text-left font-poppins">
          <p class="text-5xl text-gray-800 mt-5 md:mt-0 font-nautigal mb-3">
            Menyatakan Cinta
          </p>
          <p class="max-w-prose">
            {storysc}
          </p>
        </div>
      </div>
    </div>
    <Icon name="mdi:arrow-u-down-left" class="w-24 h-24 mx-auto text-gray-400" />
    <div class="fade-down bg-white rounded shadow-lg mx-auto my-5 w-full md:w-3/4 p-10">
      <div class="md:flex mx-auto gap-5 justify-center">
        <div class="w-full md:w-1/4">
          <img
            class="rounded-lg grayscale"
            src={imgeg}
            alt=""
          />
        </div>
        <div class="text-left font-poppins">
          <p class="text-5xl text-gray-800 mt-5 md:mt-0 font-nautigal mb-3">Tunangan</p>
          <p class="max-w-prose">
            {storyth}
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto px-6 py-20">
    <div class="fade-down text-center my-5 mb-10">
      <h2 class="text-gray-800 text-center font-nautigal text-5xl lg:text-8xl">
         Moment Kami
      </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center gap-2 pb-20 [&>*]:w-full [&>*]:md:max-w-4xl [&>*]:p-1 [&>*]:relative [&>*]:grayscale">
      <div class="fade-right">
        <div class="truncate">
          <img
          src={imgstory1}
            alt="Foto 1"
            class="object-cover aspect-square transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
          />
        </div>
      </div>
      <div class="fade-up">
        <div class="truncate">
          <img
          src={imgstory2}
            alt="Foto 1"
            class="object-cover aspect-square transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
          />
        </div>
      </div>
      <div class="fade-down">
        <div class="truncate">
          <img
          src={imgstory3}
            alt="Foto 1"
            class="object-cover aspect-square transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
          />
        </div>
      </div>
      <div class="fade-left">
        <div class="truncate">
          <img
          src={imgstory4}
            alt="Foto 1"
            class="object-cover aspect-square transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
          />
        </div>
      </div>
      <div class="fade-up">
        <div class="truncate">
          <img
          src={imgstory5}
            alt="Foto 1"
            class="object-cover aspect-square transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
          />
        </div>
      </div>
      <div class="fade-down">
        <div class="truncate">
          <img
          src={imgstory6}
            alt="Foto 1"
            class="object-cover aspect-square transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
          />
        </div>
      </div>
      <div class="fade-up">
        <div class="truncate">
          <img
          src={imgstory7}
            alt="Foto 1"
            class="object-cover aspect-square transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
          />
        </div>
      </div>
      <div class="fade-right">
        <div class="truncate">
          <img
          src={imgstory8}
            alt="Foto 1"
            class="object-cover aspect-square transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="relative">
  <div class="absolute inset-0 bg-gray-500 bg-cover bg-no-repeat bg-center bg-fixed bg-center grayscale before:content-[''] before:bg-black before:inset-0 before:bg-opacity-75 before:bg-cover before:absolute" style="background-image: url(/src/assets/gift.jpg);"></div>
  <div class="container py-20 px-6 text-center mx-auto relative">
    <div class="fade-down">
      <h2 class="text-5xl lg:text-8xl text-white font-nautigal">Wedding Gift</h2>
      <img src="/src/assets/pattern-2.png" alt="" class="mx-auto">
      <p class="max-w-prose mx-auto font-bold mt-5 font-poppins text-white">Doa & restu anda di pernikahan kami cukuplah sebagai bingkisan, namun jika anda ingin memberi lebih, kami dengan senang hati menerimanya dan akan semakin melengkapi kebahagiaan kami.</p>
    </div>
    <div class="fade-left py-8 px-8 md:px-16 mx-auto mt-16 w-4/5 sm:w-fit justify-evenly md:flex mx-auto gap-5 bg-white rounded shadow-lg">
      <div class="text-center font-poppins flex flex-col items-center">
        <img class="rounded-lg object-cover h-8 w-8" src={logobank} alt="">
        <p class="text-2xl text-gray-800 mt-5 md:mt-0 font-bold mb-3">{bank}</p>
        <p class="max-w-prose">{namebank}</p>
        <span class="copy-content font-bold">{numberbank}</span>
        <div class="icon pt-5">
          <button class="bg-gray-800 text-white px-5 py-2 rounded-full">Copy Rekening</button>
          <Payment />
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section>
  <div class="container py-20 px-6 text-center mx-auto">
    <div class="fade-right text-center my-5 mb-10">
      <h2 class="text-gray-800 text-center font-nautigal text-5xl lg:text-8xl">
        Ucapan & Doa
      </h2>
    </div>
    <Rsvp />
  </div>
</section>
<Footerpost />
<Animation />
</main>
</Noheader>

