---
import Noheader from '../../layouts/noheader.astro';
import '@fontsource/montecarlo';
import '@fontsource-variable/josefin-sans';
import { Icon } from 'astro-iconify';
import Namatamu from '../../layouts/namatamu.astro'
import Payment from '../../layouts/payment.astro'
import Rsvp from '../../layouts/rsvp.astro'
import Countdown from '../../layouts/countdown.astro'
import Footerpost from '../../layouts/footer-post.astro'
import Animation from '../../layouts/animation.astro'

export const data = {
  slug: "demo/wedding-1",
  title: "Demo 1",
  type: "Diamond",
  img: {
    url: '/src/assets/demo-1.jpg',
    alt: "jejak bahagia"
  },
  cover: {
    url: '/src/assets/bg-wedding-1.jpg',
    alt: "jejak bahagia"
  },
  imgsc: {
    url: '/src/assets/foto-tambahan-2.jpg'
  },
  imgth: {
    url: '/src/assets/bg-wedding-2.jpg'
  },

  //Img kedua mempelai
  imgfr: {
    url: '/src/assets/girl-wedding.jpg'
  },
  imgfv: {
    url: '/src/assets/man-wedding.jpg'
  },

  //Img Our Story
  imgsx: {
    url: '/src/assets/foto-stroy-1.jpg'
  },
  imgsv: {
    url: '/src/assets/foto-stroy-2.jpg'
  },
  imgeg: {
    url: '/src/assets/foto-stroy-3.jpg'
  },
  //img Our Moments
  imgstory1: {
    url: '/src/assets/foto-moment-1.jpg'
  },
  imgstory2: {
    url: '/src/assets/foto-moment-2.jpg'
  },
  imgstory3: {
    url: '/src/assets/foto-moment-3.jpg'
  },
  imgstory4: {
    url: '/src/assets/foto-moment-1.jpg'
  },
  imgstory5: {
    url: '/src/assets/foto-moment-2.jpg'
  },
  imgstory6: {
    url: '/src/assets/foto-moment-3.jpg'
  },
  imgstory7: {
    url: '/src/assets/foto-moment-1.jpg'
  },
  imgstory8: {
    url: '/src/assets/foto-moment-3.jpg'
  },
  logobank: {
    url: '/src/assets/gopay.png'
  },
  male: "Romeo",
  fullmale: "Romeo Montaquet",
  female: "Juliet",
  fullfemale: "Juliet Capulet",
  date: "Jumat, 05 Januari 2030",

  childmale: "Putra Pertama dari Pasangan",
  childfemale: "Putri Pertama dari Pasangan",
  parentmale: "Bambang & Mulyani",
  parentfemale: "Joko & Siti",
  instagrammale: "invivit.id",
  instagramfemale: "invivit.id",
  facebookmale: "invivit",
  facebookfemale: "invivit",
  citymale: "Yogyakarta",
  cityfemale: "Lampung",

//name bank
  bank: "BCA",
  namebank: "Yanto Nugroho",
  numberbank: "123456789",
  // waktu & tempat acara
  timefs: "08:00 - 09:00 WIB",
  timesc: "10:00 - 11:00 WIB",
  timeth: "13:00 - end WIB",
  addressfs: "Masjid Kampus UGM",
  addresssc: "Jogja Expo Center",
  addressth: "Rumah Mempelai Wanita",
  locationfs: "Jl. Raya Janti Jl. Wonocatur, Wonocatur, Banguntapan, Kec. Banguntapan, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55198",
  locationsc: "Jl. Raya Janti Jl. Wonocatur, Wonocatur, Banguntapan, Kec. Banguntapan, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55198",
  locationth: "Jl. Raya Janti Jl. Wonocatur, Wonocatur, Banguntapan, Kec. Banguntapan, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55198",
  mapsfs: "https://maps.app.goo.gl/fpXEChVvcrKveA468",
  mapssc: "https://maps.app.goo.gl/fpXEChVvcrKveA468",
  mapsth: "https://maps.app.goo.gl/fpXEChVvcrKveA468",

  
  storyfs: "Di sebuah kafe yang nyaman di tengah kota, dua orang asing, Juliet dan Romeo, tak sengaja bertemu. Romeo, seorang fotografer yang sedang mencari inspirasi untuk proyek terbarunya, sedangkan Juliet, seorang penulis lepas yang sedang mencatat ide-ide baru untuk novel romantisnya, tak menyadari bahwa matanya sedang bertatapan dengan seorang pria tampan di sisi lain kafe.",
  storysc: "Beberapa bulan kemudian, Romeo memutuskan bahwa dia tidak ingin kehilangan Juliet dari hidupnya. Dengan hati yang penuh harap, dia menyiapkan proposal yang tak terlupakan. Di bawah langit malam yang cerah, di taman yang dihiasi dengan ratusan lentera, Romeo berlutut di hadapan Juliet.",
  storyth: "Dari pertemuan tak terduga di kafe hingga momen indah pertunangan mereka di taman yang dipenuhi lentera, cerita cinta Juliet dan Romeo adalah bukti bahwa takdir bisa membawa dua hati yang saling mencari dan membuat mereka bersatu dalam cinta yang abadi.",
  quote: "And everything that We have made in pairs so that you may remember (the greatness of Allah). Q.S Adz-Dzariat verse 49",
}

const { frontmatter } = Astro.props;
const title = frontmatter ? frontmatter.title : data.title;

const male = frontmatter ? frontmatter.male : data.male;
const fullmale = frontmatter ? frontmatter.fullmale : data.fullmale;
const female = frontmatter ? frontmatter.female : data.female;
const fullfemale = frontmatter ? frontmatter.fullfemale : data.fullfemale;
const date = frontmatter ? frontmatter.date : data.date;

const childmale = frontmatter ? frontmatter.childmale : data.childmale;
const childfemale = frontmatter ? frontmatter.childfemale : data.childfemale;
const parentmale = frontmatter ? frontmatter.parentmale : data.parentmale;
const parentfemale = frontmatter ? frontmatter.parentfemale : data.parentfemale;
const instagrammale = frontmatter ? frontmatter.instagrammale : data.instagrammale;
const instagramfemale = frontmatter ? frontmatter.instagramfemale : data.instagramfemale;
const facebookmale = frontmatter ? frontmatter.facebookmale : data.facebookmale;
const facebookfemale = frontmatter ? frontmatter.facebookfemale : data.facebookfemale;
const citymale = frontmatter ? frontmatter.citymale : data.citymale;
const cityfemale = frontmatter ? frontmatter.cityfemale : data.cityfemale;

//bank
const bank = frontmatter ? frontmatter.bank : data.bank;
const namebank = frontmatter ? frontmatter.namebank : data.namebank;
const numberbank = frontmatter ? frontmatter.numberbank : data.numberbank;
const logobank = frontmatter ? frontmatter.logobank ? frontmatter.logobank.url ? frontmatter.logobank.url : data.logobank.url :  data.logobank.url : data.logobank.url;
//waktu & tempat acara
const timefs = frontmatter ? frontmatter.timefs : data.timefs;
const timesc = frontmatter ? frontmatter.timesc : data.timesc;
const timeth = frontmatter ? frontmatter.timeth : data.timeth;
const addressfs = frontmatter ? frontmatter.addressfs : data.addressfs;
const addresssc = frontmatter ? frontmatter.addresssc : data.addresssc;
const addressth = frontmatter ? frontmatter.addressth : data.addressth;
const mapsfs = frontmatter ? frontmatter.mapsfs : data.mapsfs;
const mapssc = frontmatter ? frontmatter.mapssc : data.mapssc;
const mapsth = frontmatter ? frontmatter.mapsth : data.mapsth;
const locationfs = frontmatter ? frontmatter.locationfs : data.locationfs;
const locationsc = frontmatter ? frontmatter.locationsc : data.locationsc;
const locationth = frontmatter ? frontmatter.locationth : data.locationth;

//story & quote
const storyfs = frontmatter ? frontmatter.storyfs : data.storyfs;
const storysc = frontmatter ? frontmatter.storysc : data.storysc;
const storyth = frontmatter ? frontmatter.storyth : data.storyth;
const quote = frontmatter ? frontmatter.quote : data.quote;

//Img header
const cover = frontmatter ? frontmatter.cover ? frontmatter.cover.url ? frontmatter.cover.url : data.cover.url :  data.cover.url : data.cover.url;
const imgsc = frontmatter ? frontmatter.imgsc ? frontmatter.imgsc.url ? frontmatter.imgsc.url : data.imgsc.url :  data.imgsc.url : data.imgsc.url;
const imgth = frontmatter ? frontmatter.imgth ? frontmatter.imgth.url ? frontmatter.imgth.url : data.imgth.url :  data.imgth.url : data.imgth.url;

//Img kedua mempelai
const imgfr = frontmatter ? frontmatter.imgfr ? frontmatter.imgfr.url ? frontmatter.imgfr.url : data.imgfr.url :  data.imgfr.url : data.imgfr.url;
const imgfv = frontmatter ? frontmatter.imgfv ? frontmatter.imgfv.url ? frontmatter.imgfv.url : data.imgfv.url :  data.imgfv.url : data.imgfv.url;

//Img Our Story
const imgsx = frontmatter ? frontmatter.imgsx ? frontmatter.imgsx.url ? frontmatter.imgsx.url : data.imgsx.url :  data.imgsx.url : data.imgsx.url;
const imgsv = frontmatter ? frontmatter.imgsv ? frontmatter.imgsv.url ? frontmatter.imgsv.url : data.imgsv.url :  data.imgsv.url : data.imgsv.url;
const imgeg = frontmatter ? frontmatter.imgeg ? frontmatter.imgeg.url ? frontmatter.imgeg.url : data.imgeg.url :  data.imgeg.url : data.imgeg.url;

//Img Our Moments
const imgstory1 = frontmatter ? frontmatter.imgstory1 ? frontmatter.imgstory1.url ? frontmatter.imgstory1.url : data.imgstory1.url :  data.imgstory1.url : data.imgstory1.url;
const imgstory2 = frontmatter ? frontmatter.imgstory2 ? frontmatter.imgstory2.url ? frontmatter.imgstory2.url : data.imgstory2.url :  data.imgstory2.url : data.imgstory2.url;
const imgstory3 = frontmatter ? frontmatter.imgstory3 ? frontmatter.imgstory3.url ? frontmatter.imgstory3.url : data.imgstory3.url :  data.imgstory3.url : data.imgstory3.url;
const imgstory4 = frontmatter ? frontmatter.imgstory4 ? frontmatter.imgstory4.url ? frontmatter.imgstory4.url : data.imgstory4.url :  data.imgstory4.url : data.imgstory4.url;
const imgstory5 = frontmatter ? frontmatter.imgstory5 ? frontmatter.imgstory5.url ? frontmatter.imgstory5.url : data.imgstory5.url :  data.imgstory5.url : data.imgstory5.url;
const imgstory6 = frontmatter ? frontmatter.imgstory6 ? frontmatter.imgstory6.url ? frontmatter.imgstory6.url : data.imgstory6.url :  data.imgstory6.url : data.imgstory6.url;
const imgstory7 = frontmatter ? frontmatter.imgstory7 ? frontmatter.imgstory7.url ? frontmatter.imgstory7.url : data.imgstory7.url :  data.imgstory7.url : data.imgstory7.url;
const imgstory8 = frontmatter ? frontmatter.imgstory8 ? frontmatter.imgstory8.url ? frontmatter.imgstory8.url : data.imgstory8.url :  data.imgstory8.url : data.imgstory8.url;
---

<Noheader
  title={title}
  desc="Ini halaman Demo Wedding 1 dari undangan"
>
  <input type="checkbox" id="toggle" class="peer hidden peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear"/>
  <section class="hero relative h-screen bg-cover bg-center flex items-center peer-checked:h-0 peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear peer-checked:delay-500 before:content-[''] before:bg-black/65 before:inset-0 before:bg-opacity-75 before:bg-cover before:absolute"
    style={`background-image:url(${cover})`}
  >
    <div class="absolute overflow-hidden w-full h-[100%] [&>*]:absolute [&>*]:object-cover [&>*]:w-1/3 [&>*]:lg:w-1/5">
      <div>
        <img src="/src/assets/frame-tl.png" class="" alt="" />
      </div>
      <div class="right-0 top-0">
        <img src="/src/assets/frame-tr.png" class="right-0 top-0" alt="" />
      </div>
      <div class="left-0 bottom-0">
        <img src="/src/assets/frame-tr.png" class="rotate-180" alt="" />
      </div>
      <div class="bottom-0 right-0">
        <img src="/src/assets/frame-tl.png" class="rotate-180" alt="" />
      </div>
    </div>
    <div
      class="container mx-auto flex flex-col justify-center items-center text-white relative"
    >
      <div
        class="rounded-full w-24 h-24 md:w-40 md:h-40 bg-cover bg-center bg-white flex justify-center items-center"
        style={`background-image:url(${imgsc})`}>
      </div>
      <h1 class="text-xl mt-8 font-josefin font-semibold text-pink-600">
        Wedding Invitation
      </h1>
      <h2
        class="text-center font-montecarlo text-white text-4xl md:text-6xl lg:text-8xl"
      >
        { male } & { female }
      </h2>
      <h3 class="mt-2 font-josefin">Dear Mr./Mrs./Ms.</h3>
      <h4 id="invite-name" class="text-xl font-josefin my-3 capitalize">
        <Namatamu /> nama tamu
      </h4>
      <p class="font-josefin">You are cordially invited to our wedding.</p>
      <label
        for="toggle"
        class="mt-5 px-6 py-2 relative bg-pink-600 rounded-full shadow-xl text-white font-bold flex gap-1 transition-all duration-700 ease-linear hover:bg-white hover:text-pink-600"
        >Open Invitation <Icon name="mdi:love-letter" class="w-5 h-5" /></label
      >
    </div>
  </section>
  <main id="myDIV" class="block peer-checked:block"
  >
    <section
      class="hero relative h-screen bg-cover bg-center before:content-[''] before:bg-black/50 before:inset-0 before:bg-opacity-75 before:bg-cover before:absolute"
      style={`background-image:url(${imgth})`}
    >
      <div class="absolute overflow-hidden w-full h-[100%] [&>*]:absolute [&>*]:object-cover [&>*]:w-1/3 [&>*]:lg:w-1/5">
        <div>
          <img src="/src/assets/frame-tl.png" class="" alt="" />
        </div>
        <div class="right-0 top-0">
          <img src="/src/assets/frame-tr.png" class="right-0 top-0" alt="" />
        </div>
        <div class="left-0 bottom-0">
          <img src="/src/assets/frame-tr.png" class="rotate-180" alt="" />
        </div>
        <div class="bottom-0 right-0">
          <img src="/src/assets/frame-tl.png" class="rotate-180" alt="" />
        </div>
      </div>
      <div
        class="container mx-auto h-screen flex flex-col justify-center items-center text-white relative z-10 font-josefin"
      >
        <h2 class="text-xl mt-4">The Wedding of</h2>
        <h1 class="text-4xl md:text-6xl lg:text-8xl">{ male }<span class="text-pink-600 font-montecarlo">&</span> { female }
           
        </h1>
        <h3 class="text-xl md:text-2xl">{ date }</h3>
      </div>
      <div class="images absolute w-full" style="bottom: -5px;">
        <img src="/src/assets/mask.png" class="bg-cover" alt="" />
      </div>
    </section>
    <section class="dh-3/6 py-20">
      <div class="container mx-auto">
        <div class="notes flex flex-col text-center items-center">
          <h2
            class="text-center font-montecarlo text-pink-600 text-6xl lg:text-8xl my-6"
          >
            Notes
          </h2>
          <p
            class="sm:max-w-prose px-5 sm:px-0 max-w-none text-sm font-josefin"
          >
            {quote}
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class="container mx-auto">
        <div class="flex flex-col text-center items-center">
          <Icon name="mdi:flower-tulip" class="w-16 h-16 text-pink-600 transition-all duration-700 ease-linear hover:text-pink-400 text-center mx-auto" />
        </div>
      </div>
    </section>
    <section class="relative py-20">
      <div class="container mx-auto">
        <div class="flex flex-col text-center items-center mb-9">
          <h1 class="text-pink-600 text-center font-montecarlo text-6xl lg:text-8xl">
            Bride x Groom
          </h1>
          <p class="font-medium pb-8 text-lg font-josefin">
            We Are Getting Married
          </p>
        </div>
        <div class="mx-auto p-4">
        <div class="flex flex-col lg:flex-row justify-center items-center gap-11 gap-y-11 max-w-4xl mx-auto [&>*]:text-center">
          <div class="w-full flex flex-col items-center">
            <div
              class="rounded-full w-40 h-40 md:w-60 md:h-60 bg-cover bg-center bg-white flex justify-center items-center ring-offset-2 ring-4 ring-pink-600"
              style={`background-image:url(${imgfr})`}
            >
            </div>
            <div class="font-josefin space-y-3">
              <h3 class="text-6xl mt-6 font-montecarlo text-pink-600">{ female }</h3>
              <p class="text-xl font-medium border-b-2 border-b-pink-600">{ fullfemale }</p>
              <p class="text-lg">{childfemale}</p>
              <p class="text-lg font-medium text-pink-600">
                { parentfemale }</p>
              <p>{cityfemale}</p>
              <div class="flex gap-3 text-center justify-center mt-4">
                <a href={`https://www.facebook.com/${facebookfemale}`} class="flex flex-row gap-2 items-center">
                  <Icon name="mdi:facebook" class="w-10 h-10 text-pink-700 hover:text-white hover:bg-pink-700 bg-white p-2 rounded-full" />
                </a>
                <a href={`https://www.instagram.com/${instagramfemale}`} class="flex flex-row gap-2 items-center">
                  <Icon name="mdi:instagram" class="w-10 h-10 text-pink-700 hover:text-white hover:bg-pink-700 bg-white p-2 rounded-full" />
                </a>
              </div>
            </div>
          </div>
            <div class="w-full flex flex-col items-center">
              <div
                class="rounded-full w-40 h-40 md:w-60 md:h-60 bg-cover bg-center bg-white flex justify-center items-center ring-offset-2 ring-4 ring-pink-600"
                style={`background-image:url(${imgfv})`}>
              </div>
              <div class="font-josefin space-y-3">
                <h3 class="text-6xl mt-6 font-montecarlo text-pink-600">{ male }</h3>
                <p class="text-xl font-medium border-b-2 border-b-pink-600">{ fullmale }</p>
                <p class="text-lg">{ childmale }</p>
                <p class="text-lg font-medium text-pink-600">
                  { parentmale }
                </p>
                <p>{citymale}</p>
                <div class="flex gap-3 text-center justify-center mt-4">
                  <a href={`https://www.facebook.com/${facebookmale}`} class="flex flex-row gap-2 items-center">
                    <Icon name="mdi:facebook" class="w-10 h-10 text-pink-700 hover:text-white hover:bg-pink-700 bg-white p-2 rounded-full" />
                  </a>
                  <a href={`https://www.instagram.com/${instagrammale}`} class="flex flex-row gap-2 items-center">
                    <Icon name="mdi:instagram" class="w-10 h-10 text-pink-700 hover:text-white hover:bg-pink-700 bg-white p-2 rounded-full" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="relative bg-cover bg-no-repeat bg-center bg-fixed before:content-[''] before:bg-black/75 before:inset-0 before:bg-opacity-75 before:bg-cover before:absolute"
      style="background-image: url(/src/assets/ring-cd.jpg);">
      <div class="container py-32 mx-auto relative z-10">
        <div class="text-center my-5">
          <h2 class="text-xl md:text-2xl font-bold mt-5 md:mt-0 mb-3 text-white">Countdown to</h2>
          <h1 class="text-white text-center font-montecarlo text-4xl md:text-6xl lg:text-8xl">
            Our Happy Day
          </h1>
        </div>
        <div id="timer" class="grid grid-cols-2 md:grid-cols-4 gap-y-8 justify-center text-center items-center mt-20 sm:px-20 max-w-3xl mx-auto [&>*]:text-center [&>*]:text-4xl [&>*]:sm:text-6xl [&>*]:font-medium [&>*]:text-white [&>*]:p-1">
        </div>
        <Countdown/>
      </div>
      <div class="images absolute w-full rotate-180" style="top: -5px;">
        <img src="/src/assets/mask.png" class="bg-cover" alt="mask" />
      </div>
      <div class="images absolute w-full" style="bottom: -5px;">
        <img src="/src/assets/mask.png" class="bg-cover" alt="mask" />
      </div>
    </section>
    <section>
      <div class="container mx-auto py-20 px-6">
        <div class="text-center my-5 mb-10">
          <h2 class="text-2xl font-bold mt-5 md:mt-0 mb-3 font-josefin">Where & When</h2>
          <h1 class="text-pink-600 text-center font-montecarlo text-5xl lg:text-8xl">
            Wedding Day
          </h1>
        </div>
        <div
          class="grid gird-cols-1 md:grid-cols-3 max-w-4xl w-full mx-auto justify-center items-center gap-4 mt-5 [&>*]:mx-auto [&>*]:rounded-2xl [&>*]:h-full [&>*]:border [&>*]:border-pink-600 [&>*]:p-12 [&>*]:w-full"
        >
          <div>
            <div class="text-center font-josefin">
              <h2 class="text-center font-montecarlo text-4xl">Akad Nikah</h2>
              <p class="mt-2 sm:mt-4">
                <strong class="text-md font-bold text-pink-600"
                  >{date}
                </strong>
              </p>
              <p class="mt-2 sm:mt-4 text-md">{timefs}</p>
              <p class="mt-2 sm:mt-4">
                <strong class="text-md font-bold text-pink-600"
                  >{addressfs}</strong
                >
              </p>
              <p class="mt-2 sm:mt-4 text-sm">
                {locationfs}
              </p>
              <div class="group">
                <a href={mapsfs}>
                  <button
                class="mx-auto mt-8 flex items-center justify-center rounded-full border border-pink-600 text-pink-600 px-4 py-2 text-center text-sm font-medium group-hover:bg-pink-600 group-hover:text-white group-hover:border-none group-hover:duration-500 group-hover:transition-all"
                >Google Maps <Icon name="mdi:google-maps" class="w-6 h-6 text-pink-600 group-hover:text-white" /></button
              >
                </a>
              </div>
            </div>
          </div>
          <div>
            <div class="text-center font-josefin">
              <h2 class="text-center font-montecarlo text-5xl">Resepsi</h2>
            <p class="mt-2 sm:mt-4">
              <strong class="text-md font-bold text-pink-600"
                >{date}</strong
              >
            </p>
            <p class="mt-2 sm:mt-4 text-md">{timesc}</p>
            <p class="mt-2 sm:mt-4">
              <strong class="text-md font-bold text-pink-600"
                >{addresssc}</strong
              >
            </p>
            <p class="mt-2 sm:mt-4 text-sm">
              {locationsc}
            </p>
            <div class="group">
              <a href={mapssc}>
                <button
              class="mx-auto mt-8 flex items-center justify-center rounded-full border border-pink-600 text-pink-600 px-4 py-2 text-center text-sm font-medium group-hover:bg-pink-600 group-hover:text-white group-hover:border-none group-hover:duration-500 group-hover:transition-all"
              >Google Maps <Icon name="mdi:google-maps" class="w-6 h-6 text-pink-600 group-hover:text-white" /></button
            >
              </a>
            </div>
            
          </div>
        </div>
          <div>
            <div class="text-center font-josefin">
              <h2 class="text-center font-montecarlo text-4xl">Unduh Mantu</h2>
              <p class="mt-2 sm:mt-4">
                <strong class="text-md font-bold text-pink-600"
                  >{date}</strong
                >
              </p>
              <p class="mt-2 sm:mt-4 text-md">{timeth}</p>
              <p class="mt-2 sm:mt-4">
                <strong class="text-md font-bold text-pink-600"
                  >{addressth}</strong
                >
              </p>
              <p class="mt-2 sm:mt-4 text-sm">
                {locationth}
              </p>
              <div class="group">
                <a href={mapsth}>
                  <button
                class="mx-auto mt-8 flex items-center justify-center rounded-full border border-pink-600 text-pink-600 px-4 py-2 text-center text-sm font-medium group-hover:bg-pink-600 group-hover:text-white group-hover:border-none group-hover:duration-500 group-hover:transition-all"
                >Google Maps <Icon name="mdi:google-maps" class="w-6 h-6 text-pink-600 group-hover:text-white" /></button
              >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container mx-auto px-6 py-20 text-center">
        <div>
          <h2 class="text-2xl font-bold mt-5 font-josefin">The Journey</h2>
          <h2 class="text-pink-600 text-center font-montecarlo text-6xl lg:text-8xl">Our Story</h2>
        </div>
        <div class="[&>*]:bg-white [&>*]:rounded [&>*]:shadow-lg [&>*]:mx-auto [&>*]:my-5 [&>*]:w-full [&>*]:md:w-3/4 [&>*]:p-10">
          <div>
            <div class="md:flex mx-auto gap-5 justify-center">
              <div class="w-full md:w-1/4">
                <img
                  class="rounded-lg"
                  src={imgsx}
                  alt=""
                />
              </div>
              <div class="text-left font-josefin">
                <p class="text-2xl font-bold mt-5 md:mt-0 mb-3 text-">Fist Time</p>
                <p class="max-w-prose">
                  {storyfs}
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="md:flex mx-auto gap-5 justify-center">
              <div class="w-full md:w-1/4">
                <img
                  class="rounded-lg"
                  src={imgsv}
                  alt=""
                />
              </div>
              <div class="text-left font-josefin">
                <p class="text-2xl mt-5 md:mt-0 font-bold mb-3">
                  Express Love
                </p>
                <p class="max-w-prose">
                  {storysc}
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="md:flex mx-auto gap-5 justify-center">
              <div class="w-full md:w-1/4">
                <img
                  class="rounded-lg"
                  src={imgeg}
                  alt=""
                />
              </div>
              <div class="text-left font-josefin">
                <p class="text-2xl mt-5 md:mt-0 font-bold mb-3">Engagement</p>
                <p class="max-w-prose">
                  {storyth}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container mx-auto px-6 py-20">
        <div class="text-center my-5 mb-10">
          <h2 class="text-xl md:text-2xl font-bold mt-5 font-josefin">A Glimpse of</h2>
          <h2 class="text-pink-600 text-center font-montecarlo text-5xl lg:text-8xl">
            Our Moments
          </h2>
        </div>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center gap-2 pb-20 [&>*]:w-full [&>*]:md:max-w-4xl [&>*]:p-1 [&>*]:relative"
        >
          <div>
            <div class="truncate">
              <img
                src={imgstory1}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div>
            <div class="truncate">
              <img
                src={imgstory2}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div>
            <div class="truncate">
              <img
                src={imgstory3}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div>
            <div class="truncate">
              <img
                src={imgstory4}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div>
            <div class="truncate">
              <img
                src={imgstory5}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div>
            <div class="truncate">
              <img
                src={imgstory6}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div>
            <div class="truncate">
              <img
                src={imgstory7}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
          <div>
            <div class="truncate">
              <img
                src={imgstory8}
                alt="Foto 1"
                class="object-cover aspect-video transition-all duration-700	ease-linear hover:scale-125 hover:duration-700 hover:transition-all hover:ease-linear"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="relative bg-cover bg-no-repeat bg-center bg-fixed py-20 before:content-[''] before:bg-black/75 before:inset-0 before:bg-opacity-75 before:bg-cover before:absolute" style="background-image: url(/src/assets/gift.jpg); ">
      <div class="container  text-center mx-auto relative z-10">
        <div>
          <h2 class="text-5xl lg:text-8xl text-pink-400 font-montecarlo">Wedding Gift</h2>
          <p class="max-w-prose mx-auto font-bold mt-5 font-josefin text-white">Doa & restu anda di pernikahan kami cukuplah sebagai bingkisan, namun jika anda ingin memberi lebih, kami dengan senang hati menerimanya dan akan semakin melengkapi kebahagiaan kami.</p>
        </div>
        <div class="py-8 px-8 md:px-16 mx-auto mt-16 w-4/5 sm:w-fit justify-evenly md:flex mx-auto gap-5 bg-white rounded shadow-lg">
          <div class="text-center font-poppins flex flex-col items-center">
            <img class="rounded-lg object-cover h-8 w-8" src={logobank} alt="">
            <div class="font-josefin">
              <p class="text-2xl text-pink-600 mt-5 md:mt-0 font-bold mb-3">{bank}</p>
              <p class="max-w-prose">{namebank}</p>
              <span class="copy-content font-bold">{numberbank}</span>
              <div class="icon pt-5">
                <button class="bg-pink-600 text-white px-5 py-2 rounded-lg">Copy Rekening</button>
                <Payment />
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="bg-gray-100">
      <div class="container py-20 px-6 text-center mx-auto">
        <div class="text-center my-5 mb-10">
          <h2 class="text-pink-600 text-center font-montecarlo text-5xl lg:text-8xl">
            Ucapan & Doa
          </h2>
          <h2 class="text-xl md:text-2xl font-bold mt-5 font-josefin">Please Confirm Your Attendance</h2>
        </div>

        <Rsvp />
          
      </div>
    </section>
    <Footerpost />
    <Animation />
  </main>
</Noheader>

