---
import Noheader from '../../layouts/noheader.astro';
import '@fontsource/montecarlo';
import '@fontsource-variable/josefin-sans';
import { Icon } from 'astro-iconify';
import Namatamu from '../../layouts/namatamu.astro'
import Payment from '../../layouts/payment.astro'
import Rsvp from '../../layouts/rsvp.astro'
import Countdown from '../../layouts/countdown.astro'
import Footerpost from '../../layouts/footer-post.astro'
import Audio from '../../layouts/audio.astro'
import Animation from '../../layouts/animation.astro';


let {frontmatter, count} = Astro.props;

if(!frontmatter) {
  let data = {};
  data["title"] = 'wedding-7'
  data["type"] = 'Tanpa Foto'
  data["desc"] = 'wedding-7'
  data["countdown"] = 'Jun 26, 2024 15:37:25'

  data["bgfs"] = 'bg-pink-100'
  data["bgsc"] = 'bg-pink-600'
  data["bgth"] = 'bg-pink-800'
  data["bgfr"] = 'bg-pink-100'

  data["txfs"] = 'text-pink-200'
  data["txsc"] = 'text-pink-600'
  data["txth"] = 'text-pink-950'

  data["bdr"] = 'border-pink-200'
  data["from"] = 'from-pink-100'
  data["before"] = 'before:bg-black'

  data["cover"] = '/assets/img-12.webp'
  data["imgsc"] = '/assets/img-25.webp'
  data["bg"] = '/assets/dekor-24.webp'
  // Img kedua mempelai
  data["dekorfs"] = '/assets/dekor34.webp'
  data["dekorsc"] = '/assets/dekor36.webp'
  data["dekorth"] = '/assets/dekor35.webp'
  // Img kedua mempelai
  data["pm1"] = '/assets/img-27.webp'
  data["pm2"] = '/assets/img-26.webp'
  // Img kedua mempelai
  data["imgstory1"] = '/assets/img-5.webp'
  data["imgstory2"] = '/assets/img-6.webp'
  data["imgstory3"] = '/assets/img-7.webp'
  data["imgstory4"] = '/assets/img-8.webp'
  data["imgstory5"] = '/assets/img-9.webp'
  data["imgstory6"] = '/assets/img-10.webp'
  data["imgstory7"] = '/assets/img-11.webp'
  data["imgstory8"] = '/assets/img-12.webp'
  data["add1"] = '/assets/img-25.webp'
  data["add2"] = '/assets/img-4.webp'

  //img story love
  data["imgstory9"] = '/assets/img-16.webp'
  data["imgstory10"] = '/assets/img-17.webp'
  data["imgstory11"] = '/assets/img-18.webp'

  // data mempelai
  data["male"] = "Remeo"
  data["ml"] = "R"
  data["fullmale"] = "Remeo Alexa"
  data["female"] = "Juliet"
  data["fml"] = "J"
  data["fullfemale"] = "Juliet Kapolo"
  data["date"] = "Jumat, 05 Januari 2030"
  data["music"] = "yovie-nuno-janji-suci"
  data["countdown"] = "June 5, 2025 15:37:25"

  data["childmale"] = "Putra kelima dari Pasangan"
  data["childfemale"] = "Putri Pertama dari Pasangan"
  data["parentmale"] = "Joko & Siti"
  data["parentfemale"] = "Bambang & Mulyani"
  data["instagrammale"] = "instagram"
  data["instagramfemale"] = "instagram"
  data["facebookmale"] = "facebook"
  data["facebookfemale"] = "facebook"
  data["citymale"] = "Palembang"
  data["cityfemale"] = "Makkasar"

  //bank
  data["logoml"] = "/assets/bri.png"
  data["bankml"] = "BRI"
  data["namebankml"] = "Remeo Alexa"
  data["numberbankml"] = "123456789"
  data["logofml"] = "/assets/bca.png"
  data["bankfml"] = "BCA"
  data["namebankfml"] = "Juliet Kapolo"
  data["numberbankfml"] = "123456789"

//waktu & tempat acara
  data["timefs"] = "08:00 - 09:00 WIB"
  data["timesc"] = "10:00 - 11:00 WIB"
  data["timeth"] = "13:00 - end WIB"
  data["addressfs"] = "Masjid Kampus UGM"
  data["addresssc"] = "Jogja Expo Center"
  data["addressth"] = "Rumah Mempelai Wanita"
  data["mapsfs"] = "https://maps.app.goo.gl/fpXEChVvcrKveA468" 
  data["mapssc"] = "https://maps.app.goo.gl/fpXEChVvcrKveA468"
  data["mapsth"] = "https://maps.app.goo.gl/fpXEChVvcrKveA468"

//story love
  data["storyfs"] = "Di sebuah kafe yang nyaman di tengah kota, dua orang asing, Yanti dan Yanto, tak sengaja bertemu. Yanto, seorang fotografer yang sedang mencari inspirasi untuk proyek terbarunya, sedangkan Yanti, seorang penulis lepas yang sedang mencatat ide-ide baru untuk novel romantisnya, tak menyadari bahwa matanya sedang bertatapan dengan seorang pria tampan di sisi lain kafe."
  data["storysc"] = "Beberapa bulan kemudian, Romeo memutuskan bahwa dia tidak ingin kehilangan Juliet dari hidupnya. Dengan hati yang penuh harap, dia menyiapkan proposal yang tak terlupakan. Di bawah langit malam yang cerah, di taman yang dihiasi dengan ratusan lentera, Romeo berlutut di hadapan Juliet."
  data["storyth"] = "Dari pertemuan tak terduga di kafe hingga momen indah pertunangan mereka di taman yang dipenuhi lentera, cerita cinta Juliet dan Romeo adalah bukti bahwa takdir bisa membawa dua hati yang saling mencari dan membuat mereka bersatu dalam cinta yang abadi."

  data["quote"] = "Dengan segala kerendahan hati, kami sangat berbahagia bisa membagi saat-saat penting ini kepada Bapak/Ibu/Saudara/i. Besar harapan kami atas kehadiran serta iringan doa dan restunya agar pernikahan yang akan digelar bisa berjalan sebagaimana mestinya. Terimakasih."

  frontmatter=data;
}
---

<Noheader title={frontmatter.title} desc={frontmatter.desc}>
  <input type="checkbox" id="toggle" class="peer hidden peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear"/>
  <section class=`animasi hero relative w-full h-screen bg-cover bg-center flex items-center overflow-hidden peer-checked:h-0 peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear peer-checked:delay-500 ${frontmatter.bgsc}`>
    <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:lg:w-1/5">
      <div class="animate-faderight">
        <img src=`${frontmatter.dekorfs}` alt="JejakBahagia" />
      </div>
      <div class="animate-fadeleft right-0 top-0">
        <img src=`${frontmatter.dekorfs}` class="rotate-90 right-0 top-0" alt="JejakBahagia" />
      </div>
    </div>
    <div class="absolute overflow-hidden bottom-0 start-0 end-0 translate-x-1/2 w-1/2 ">
      <div class="animate-fadeup bottom-0 inset-x-1/2 flex flex-col items-center justify-center">
        <img src=`${frontmatter.dekorth}` alt="JejakBahagia" />
      </div>
    </div>
    <div class="container mx-auto px-6 relative z-50">
      <div class="h-screen  py-12 flex flex-col justify-center items-center relative">
        <div class="w-full flex flex-col justify-center items-center text-black relative overflow-hidden">
          <div class="mx-auto text-center w-full md:w-1/2">
            <div class="flex flex-row h-24">
                <h1 class={`animate-fadedown ${frontmatter.txfs} text-8xl text-left font-montecarlo w-1/2`}>{frontmatter.fml}</h1>
                <div class=`animate-fadeleft border-r-2 border-t-2 ${frontmatter.bdr} w-1/2`></div>
            </div>
            <div class={`flex flex-row ${frontmatter.txfs} *:text-2xl *:md:text-3xl *:lg:text-4xl *:font-montecarlo *:w-full`}>
                <p class="animate-faderight text-left">{ frontmatter.fullfemale } </p>
                <p class="animate-fadeleft text-end ">{ frontmatter.fullmale } </p>
            </div>
            <div class="flex flex-row h-24">
                <div class=`animate-faderight border-l-2 border-b-2 ${frontmatter.bdr} w-1/2 flex flex-col justify-end`>
                  <p class=`animate-faderight font-poppins text-center ${frontmatter.txfs}`>{frontmatter.date}</p> </div>
                <h1 class=`animate-fadeup ${frontmatter.txfs} text-8xl text-center sm:text-end font-montecarlo w-1/2`>{frontmatter.ml}</h1>
            </div>
            <div class=`${frontmatter.txfs}`>
              <h3 class="animate-fadeup mt-5 font-josefin">Dear Mr./Mrs./Ms.</h3>
              <h4 id="invite-name" class="animate-fadeup text-xl font-josefin my-3 capitalize">
              <Namatamu /> Tamu Undangan
              </h4>
            </div>
        </div>
            <label for="toggle" id="toaudio"
            class=`animate-fadeup mt-5 px-4 py-2 relative rounded-full font-josefin flex gap-1 ${frontmatter.txfs} ${frontmatter.bgth}`
            ><Icon name="mdi:love-letter" class="w-6 h-6" />Buka Undangan 
            </label>
        </div>
      </div>
    </div>
  </section>
  <main id="myDIV" class=`hidden peer-checked:block ${frontmatter.bgfr}`>
    <section class="animasi relative h-screen overflow-hidden">
      <div class="absolute overflow-hidden z-20 w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:lg:w-1/5">
        <div class="animate-faderight">
          <img src=`${frontmatter.dekorfs}` alt="JejakBahagia" />
        </div>
        <div class="animate-fadeleft right-0 top-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-90 right-0 top-0" alt="JejakBahagia" />
        </div>
        <div class="animate-fadeup left-0 bottom-0">
          <img src=`${frontmatter.dekorfs}` class=" -rotate-90 left-0 bottom-0" alt="JejakBahagia" />
        </div>
        <div class="animate-fadeleft right-0 bottom-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-180 right-0 top-0" alt="JejakBahagia" />
        </div>
      </div>
        <div class="container px-6 mx-auto relative">
            <div class="h-screen flex flex-col items-center justify-center">
              <div class=`animate-fadedown flex flex-col items-center justify-center text-center sm:flex-row gap-3 lg:gap-8 w-full text-center font-montecarlo text-center text-6xl lg:text-8xl ${frontmatter.txsc}`>
                <span>{frontmatter.female }</span>
                <span class=`${frontmatter.txsc}`> & </span> 
                <span> {frontmatter.male } </span> 
              </div>
                <p class=`animate-faderight font-poppins text-center tracking-widest ${frontmatter.txsc}`>{frontmatter.date}</p>   
                <p class=`animate-fadeup mt-8 font-poppins text-center tracking-widest max-w-prose ${frontmatter.txsc}`>{frontmatter.quote}</p>   
            </div>
        </div>
      </div>
    </section>
    <section class="animasi1 relative overflow-hidden">
        <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:md:w-1/3 *:lg:w-1/5">
            <div>
                <img src=`${frontmatter.dekorfs}` class="fade-down opacity-0" alt="JejakBahagia" />
            </div>
            <div class="right-0 top-0 rotate-90">
                <img src=`${frontmatter.dekorfs}` class="fade-down opacity-0 right-0 top-0 rotate-90" alt="JejakBahagia" />
            </div>
        </div>
        <div class="container mx-auto relative py-20 px-6">
          <div class="flex flex-col text-center items-center">
            <p class=`fade-down opacity-0 text-center font-montecarlo text-2xl sm:text-4xl ${frontmatter.txsc}`>
                Bismillahirrahmanirrahim
            </p>
            <p class=`fade-up opacity-0 font-medium max-w-prose py-8 font-josefin ${frontmatter.txsc}`>
                Dengan memohon Rahmat dan Ridho Allah Subhanahu wa ta'ala kami bermaksud menyelenggarakan Syukuran Pernikahan Putra-Putri kami
            </p>
          </div>
          <div class="mx-auto p-4">
            <div class="flex flex-col lg:flex-row justify-center items-center gap-y-16 max-w-4xl mx-auto mt-5 [&>*]:text-center [&>*]:w-full [&>*]:flex [&>*]:flex-col [&>*]:items-center">
              <div>
                <div class="fade-right opacity-0">
                  <div class="relative flex items-center justify-center w-full">
                      <div class="relative flex items-center justify-center w-72">
                        <div
                        class="w-56 h-56 bg-cover bg-center relative rounded-full"
                        style=`background-image: url('${frontmatter.pm1}')`>
                        </div>
                        <img src=`${frontmatter.dekorsc}` alt="JejakBahagia" class="absolute">
                      </div>
                  </div>
                </div>
                <h3 class=`fade-left opacity-0 text-5xl mt-12 font-nautigal ${frontmatter.txsc}`>{ frontmatter.fullfemale }</h3>
                <div class=`fade-right opacity-0 font-josefin space-y-3 ${frontmatter.txsc}`>
                  <p class="text-lg">{frontmatter.childfemale}</p>
                  <p class="text-lg font-medium">
                    { frontmatter.parentfemale }</p>
                  <p>{frontmatter.cityfemale}</p>
                  <div class="flex text-center justify-center mt-4">
                    <a href={`https://www.instagram.com/${frontmatter.instagramfemale}`} class="flex flex-row gap-2 items-center">
                      <Icon name="mdi:instagram" class=`w-10 h-10 p-2 rounded-full ${frontmatter.txfs} ${frontmatter.bgsc}` />
                    </a>
                  </div>
                </div>
              </div>
              <div>
                <div class="fade-left opacity-0">
                  <div class="relative flex items-center justify-center w-full">
                      <div class="relative flex items-center justify-center w-72">
                        <div
                        class="w-56 h-56 bg-cover bg-center relative rounded-full"
                        style=`background-image: url('${frontmatter.pm2}')`>
                        </div>
                        <img src=`${frontmatter.dekorsc}` alt="JejakBahagia" class="absolute">
                      </div>
                  </div>
                </div>
                <h3 class=`fade-right opacity-0 text-6xl mt-12 font-nautigal ${frontmatter.txsc}`>{ frontmatter.fullmale }</h3>
                <div class=`fade-left opacity-0 font-josefin space-y-3 ${frontmatter.txsc}`>
                  <p class="text-lg">{frontmatter.childmale}</p>
                  <p class="text-lg font-medium">
                    { frontmatter.parentmale }</p>
                  <p>{frontmatter.citymale}</p>
                  <div class="flex text-center justify-center mt-4">
                    <a href={`https://www.instagram.com/${frontmatter.instagrammale}`} class="flex flex-row gap-2 items-center">
                      <Icon name="mdi:instagram" class=`w-10 h-10 p-2 rounded-full ${frontmatter.txfs} ${frontmatter.bgsc}` />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class=`animasi2 relative bg-cover bg-no-repeat bg-center bg-fixed overflow-hidden before:content-[''] before:bg-gradient-to-b before:to-transparent before:inset-0 before:bg-cover before:absolute ${frontmatter.from}`
      style={`background-image:url(${frontmatter.add1})`}>
      <div class="absolute overflow-hidden z-20 w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:lg:w-1/5">
        <div class="fade-right opacity-0 left-0 bottom-0">
          <img src=`${frontmatter.dekorfs}` class=" -rotate-90 left-0 bottom-0" alt="JejakBahagia" />
        </div>
        <div class="fade-left opacity-0 right-0 bottom-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-180 right-0 top-0" alt="JejakBahagia" />
        </div>
      </div>
      <div class="container py-32 mx-auto relative z-10">
        <div class=`text-center my-5 ${frontmatter.txsc}`>
          <h2 class="fade-left opacity-0 text-2xl/50 font-bold mt-5 md:mt-0 mb-3 font-josefin">
            Save The Date</h2>
          <h1 class="fade-right opacity-0 text-center font-montecarlo text-4xl md:text-6xl lg:text-8xl">
            Our Happy Day
          </h1>
        </div>
        <div  data-count={frontmatter.countdown} id="timer" class=`fade-up opacity-0 grid grid-cols-2 md:grid-cols-4 gap-y-8 justify-center text-center items-center mt-20 sm:px-20 max-w-3xl mx-auto *:text-center *:text-4xl *:sm:text-6xl *:font-medium *:*:p-1 ${frontmatter.txsc}`>
        </div>
      </div>
    </section>
    <section class="animasi9 relative bg-cover bg-no-repeat bg-center bg-fixed overflow-hidden">
      <div class="absolute overflow-hidden z-20 w-full h-[100%] *:absolute *:object-cover *:w-1/2 *:lg:w-1/5">
        <div class="fade-right opacity-0 left-0 bottom-0">
          <img src=`${frontmatter.dekorfs}` class=" -rotate-90 left-0 bottom-0" alt="JejakBahagia" />
        </div>
        <div class="fade-left opacity-0 right-0 bottom-0">
          <img src=`${frontmatter.dekorfs}` class="rotate-180 right-0 top-0" alt="JejakBahagia" />
        </div>
      </div>
      <div class="container py-20 px-6 text-center mx-auto relative z-50">
        <div class=`text-center my-10 ${frontmatter.txsc}`>
          <h2 class="fade-right opacity-0 text-5xl lg:text-8xl font-nautigal">Wedding Gift</h2>
          <p class="fade-left opacity-0 max-w-prose mx-auto font-bold mt-5 font-josefin">Doa & restu anda di pernikahan kami cukuplah sebagai bingkisan, namun jika anda ingin memberi lebih, kami dengan senang hati menerimanya dan akan semakin melengkapi kebahagiaan kami.</p>
        </div>
        <div class="flex flex-col md:flex-row gap-8 justify-center items-center w-full max-w-screen-md mx-auto">
          <div class=`fade-down opacity-0 py-8 px-4 md:px-16 mx-auto mt-16 w-full max-w-xs justify-center md:flex mx-auto gap-5 rounded-lg border-2 ${frontmatter.bgfs} ${frontmatter.bdr} shadow-lg`>
            <div class="text-center font-poppins flex flex-col items-center">
              <img class="h-8 w-1/2 lg:w-full" src={frontmatter.logoml} alt="JejakBahagia">
              <div class:list={[`mt-4 font-josefin ${frontmatter.txth}`]}>
                <p class="max-w-prose">{frontmatter.namebankml}</p>
                <span class="copy-content font-bold">{frontmatter.numberbankml}</span>
                <div class="btn-copy pt-5">
                  <button class:list={[`${frontmatter.bgth} ${frontmatter.txfs} px-5 py-2 rounded-lg`]}>Copy Rekening</button>
                </div>
                <span class="copy-message absolute hidden inset-x-0">Rekening dicopy</span>
              </div>
            </div>
          </div>
          <div class=`fade-up opacity-0 py-8 px-4 md:px-16 mx-auto mt-16 w-full max-w-xs justify-center md:flex mx-auto gap-5 rounded-lg border-2 ${frontmatter.bgfs} ${frontmatter.bdr} shadow-lg`>
            <div class="text-center font-poppins flex flex-col items-center">
              <img class="h-8 w-1/2 lg:w-full" src={frontmatter.logofml} alt="JejakBahagia">
              <div class:list={[`mt-5 font-josefin ${frontmatter.txth}`]}>
                <p class="max-w-prose">{frontmatter.namebankfml}</p>
                <span class="copy-content font-bold">{frontmatter.numberbankfml}</span>
                <div class="btn-copy pt-5">
                  <button class:list={[`${frontmatter.bgth} ${frontmatter.txfs} px-5 py-2 rounded-lg`]}>Copy Rekening</button>
                </div>
                <span class="copyMessage absolute hidden inset-x-0">Rekening dicopy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="animasi10 overflow-hidden relative">
      <div class="absolute overflow-hidden z-20 w-full h-[100%] [&>*]:absolute [&>*]:object-cover [&>*]:w-1/2 [&>*]:lg:w-1/5">
        <div>
          <img src=`${frontmatter.dekorfs}` class="fade-down opacity-0" alt="JejakBahagia" />
      </div>
      <div class="right-0 top-0 rotate-90">
          <img src=`${frontmatter.dekorfs}` class="fade-down opacity-0 right-0 top-0 rotate-90" alt="JejakBahagia" />
      </div>
      <div class="fade-up opacity-0 left-0 bottom-0">
        <img src=`${frontmatter.dekorfs}` class=" -rotate-90 left-0 bottom-0" alt="JejakBahagia" />
      </div>
      <div class="fade-up opacity-0 right-0 bottom-0">
        <img src=`${frontmatter.dekorfs}` class="rotate-180 right-0 top-0" alt="JejakBahagia" />
      </div>
      </div>
      <div class="container py-20 z-50 px-6 text-center mx-auto relative">
        <div class:list={[`text-center my-5 mb-10 ${frontmatter.txsc}`]}>
          <h2 class="fade-right opacity-0 text-4xl md:text-8xl font-nautigal">
            Ucapan & Doa
          </h2>
          <h2 class="fade-right opacity-0 text-xl md:text-2xl font-bold mt-5 font-josefin">Please Confirm Your Attendance</h2>
        </div>

        <Rsvp color="gray-600" />
          
      </div>
    </section>
    <Footerpost />
    <Audio />
    <audio id="myAudio" loop class="hidden">
      <source src=`/assets/${frontmatter.music}.mp3` type="audio/mpeg">
    </audio>
    <Animation /> 
    <Payment />
    <Countdown count={frontmatter.countdown} />
  </main>
</Noheader>

