---
import Noheader from '../../layouts/noheader.astro';
import '@fontsource/great-vibes';
import '@fontsource-variable/josefin-sans';
import { Icon } from 'astro-iconify';
import Namatamu from '../../layouts/namatamu.astro'
import Payment from '../../layouts/payment.astro'
import Rsvp from '../../layouts/rsvp.astro'
import Countdown from '../../layouts/countdown.astro'
import Footerpost from '../../layouts/footer-post.astro'
import Audio from '../../layouts/audio.astro'
import Animation from '../../layouts/animation.astro'
import Splide from '../../layouts/autoscroll.astro'
import type { list } from 'postcss';

const {frontmatter} = Astro.props;
---

<Noheader title={frontmatter.title} desc={frontmatter.desc}>
  
  <input type="checkbox" id="toggle" class="peer hidden peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear"/>
  <section class:list={[`animasi relative bg-cover bg-center flex items-center overflow-hidden peer-checked:h-0 peer-checked:transition-all peer-checked:duration-700 peer-checked:ease-linear peer-checked:delay-500 before:content-[''] before:bg-black before:opacity-60 before:inset-0 before:bg-cover before:absolute before:${frontmatter.bgfs}`]} style=`background-image: url('${frontmatter.cover}')`>
    <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-full *:z-20">
      <div class="top-0 max-h-12">
        <img src=`${frontmatter.dekorfs}` class="w-full h-full max-h-12" alt="JejakBahagia" />
    </div>
    <div class="bottom-0">
        <img src=`${frontmatter.dekorfs}` class="w-full h-full max-h-12" alt="JejakBahagia" />
    </div>
  </div>
    <div class="container mx-auto text-center relative overflow-hidden z-50">
        <div  class:list={[`mx-auto text-center h-screen flex flex-col justify-between items-center py-20 *:${frontmatter.txfs}`]}>
          <h5>THE WEDDING OF</h5>
            <div class="">
              <div class="animate-zoomout flex flex-row gap-2 text-center font-great text-center text-5xl sm:text-8xl">
                <span>{ frontmatter.female }</span>
                <span > & </span> 
                <span> { frontmatter.male } </span> 
              </div>
            </div>
            <div class="">
              <h3 class="animate-faderight mt-2 font-poppins">Dear Mr./Mrs./Ms.</h3>
              <h4 id="invite-name" class="animate-fadeleft text-2xl my-3 capitalize">
                <Namatamu /> nama tamu
              </h4>
              <label for="toggle" id="toaudio" class:list={[`animate-fadeup w-max mx-auto mt-5 px-6 py-2 relative rounded-full shadow-xl font-bold flex gap-1 transition-all duration-700 ease-linear ${frontmatter.txfs} ${frontmatter.bgsc}`]}>Open Invitation <Icon name="mdi:love-letter" class="w-5 h-5" />
              </label>
            </div>
        </div>
    </div>
  </section>
  <main id="myDIV" class:list={[`hidden relative bg-cover bg-center peer-checked:block before:content-[''] before:bg-white before:opacity-80 before:inset-0 before:bg-cover before:absolute ${frontmatter.bgfs}`]} class="block relative bg-gray-950 peer-checked:block" style=`background-image: url('${frontmatter.bg}')`>
    <section class="animasi1 relative h-screen bg-cover bg-center mx-auto overflow-hidden before:content-[''] before:bg-gradient-to-t before:from-amber-200 before:to-transparent before:inset-0 before:bg-cover before:absolute">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-full *:z-20">
        <div class="top-0 max-h-12">
          <img src=`${frontmatter.dekorfs}` class="w-full h-full max-h-12" alt="JejakBahagia" />
      </div>
      <div class="bottom-0">
          <img src=`${frontmatter.dekorfs}` class="w-full h-full max-h-12" alt="JejakBahagia" />
      </div>
    </div>
      <div class="container mx-auto h-screen flex flex-col justify-center items-center relative z-10 font-josefin">
      <div class:list={[`mx-auto text-center flex flex-col items-center ${frontmatter.txsc}`]}>
        <img src=`${frontmatter.imgsc}` alt="jejakbahagia" class="animate-fadedown w-36 md:w-56 mb-5">
        <h5>THE WEDDING OF</h5>
        <div
        class="animate-zoomout flex flex-col sm:flex-row gap-2 text-center font-great text-center text-6xl lg:text-8xl gap-4">
          <span>{ frontmatter.female }</span>
          <span> & </span> 
          <span> { frontmatter.male } </span> 
        </div>
        <h3 class="animate-fadeup text-xl md:text-2xl">{ frontmatter.date }</h3>
      </div>
      </div>
    </section>
    <section class="animasi2 w-full mx-auto overflow-hidden relative">       
      <div class="container mx-auto py-20 px-6">
        <div class:list={[`text-center my-5 ${frontmatter.txsc}`]}>
          <p class="fade-down opacity-0 w-full max-w-prose mx-auto px-5 sm:px-0 text-md font-josefin"
          >
          Kami Akan Menikah, <br>
          Dan Kami Ingin Anda Menjadi Bagian Dari Hari Istimewa Kami!
          </p>
          <h1 class="fade-right opacity-0 text-center font-great text-4xl md:text-6xl lg:text-8xl">
            Save the Date
          </h1>
        </div>
        <div id="timer" class:list={[`fade-up opacity-0  grid grid-cols-2 md:grid-cols-4 gap-y-8 justify-center text-center items-center mt-20 sm:px-20 max-w-3xl mx-auto [&>*]:text-center [&>*]:text-4xl [&>*]:sm:text-6xl [&>*]:font-medium [&>*]:p-1 ${frontmatter.txsc}`]}>
        </div>
        <Countdown/>
        <p class:list={[`fade-up text-center mt-5 font-bold text-lg md:text-2xl ${frontmatter.txsc}`]}>{frontmatter.date}</p>
      </div>
    </section>
    <section class="animasi2 w-full overflow-hidden relative">
        
        <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-full *:z-20">
          <div class="top-0 max-h-12">
            <img src=`${frontmatter.dekorfs}` class="w-full h-full max-h-12" alt="JejakBahagia" />
        </div>
        <div class="bottom-0">
            <img src=`${frontmatter.dekorfs}` class="w-full h-full max-h-12" alt="JejakBahagia" />
        </div>
      </div>
        <div class="container space-y-5 py-20">
            <div class:list={[`flex flex-col mt-12 text-center items-center ${frontmatter.txsc}`]}>
            <h1 class="fade-down opacity-0 text-center font-great text-5xl md:text-8xl">
              Bride x Groom
            </h1>
            <p class="fade-right opacity-0 font-medium pb-8 text-lg font-josefin">
              We Are Getting Married
            </p>
            </div>
            <div class="max-w-screen-md mx-auto flex flex-row justify-center items-center mx-auto [&>*]:opacity-0 [&>*]:w-full [&>*]:flex [&>*]:flex-col [&>*]:items-center">
                <div class="fade-right opacity-0">
                    <div class="relative flex items-center justify-center w-full">
                        <div class="relative flex items-center justify-center w-40 md:w-72">
                          <div
                          class="w-28 h-36 md:w-56 md:h-64 bg-cover bg-center relative"
                          style=`background-image: url('${frontmatter.pm1}'); clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);`>
                          </div>
                          <img src=`${frontmatter.dekorth}` alt="JejakBahagia" class="absolute">
                        </div>
                      </div>
                </div>
                <div class="fade-left opacity-0">
                    <div class="relative flex items-center justify-center w-full">
                        <div class="relative flex items-center justify-center w-40 md:w-72">
                          <div
                          class="w-28 h-36 md:w-56 md:h-64 bg-cover bg-center relative"
                          style=`background-image: url('${frontmatter.pm2}'); clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);`>
                          </div>
                          <img src=`${frontmatter.dekorth}` alt="JejakBahagia" class="absolute">
                        </div>
                      </div>
                </div>
            </div>
            <div class="text-center max-w-screen-sm mx-auto">
                <div  class:list={[`fade-down opacity-0 font-josefin space-y-3 ${frontmatter.txsc} `]}>
                    <p class="text-4xl md:text-6xl font-great font-medium">{ frontmatter.fullfemale }</p>
                    <p class="text-lg">{frontmatter.childfemale}</p>
                    <p class="text-lg font-medium">
                    { frontmatter.parentfemale }</p>
                    <p>{frontmatter.cityfemale}</p>
                    <div class="flex gap-3 text-center justify-center mt-4">
                    <a href={`https://www.facebook.com/${frontmatter.facebookfemale}`} class="flex flex-row gap-2 items-center">
                        <Icon name="mdi:facebook" class:list={[`w-10 h-10 p-2 rounded-full ${frontmatter.txfs} ${frontmatter.bgsc}`]} />
                    </a>
                    <a href={`https://www.instagram.com/${frontmatter.instagramfemale}`} class="flex flex-row gap-2 items-center">
                        <Icon name="mdi:instagram" class:list={[`w-10 h-10 p-2 rounded-full ${frontmatter.txfs} ${frontmatter.bgsc}`]} />
                    </a>
                    </div>
                </div>
                <div class="flex items-center w-full lg:w-1/2 mx-auto my-12 gap-x-4"> 
                    <hr class:list={[`animate-faderight flex-grow border w-max ${frontmatter.bdr}`]}> 
                    <Icon name="mdi:clover" class:list={[`w-12 h-12 ${frontmatter.txsc}`]}/> 
                    <hr class:list={[`animate-fadeleft flex-grow border w-max ${frontmatter.bdr}`]}> 
                </div> 
                <div class:list={[`fade-up opacity-0 font-josefin space-y-3 ${frontmatter.txsc} `]}>
                <p class="text-4xl md:text-6xl font-great font-medium">{ frontmatter.fullmale }</p>
                <p class="text-lg">{ frontmatter.childmale }</p>
                <p class="text-lg font-medium">
                    { frontmatter.parentmale }
                </p>
                <p>{frontmatter.citymale}</p>
                <div class="flex gap-3 text-center justify-center mt-4">
                    <a href={`https://www.facebook.com/${frontmatter.facebookmale}`} class="flex flex-row gap-2 items-center">
                    <Icon name="mdi:facebook" class:list={[`w-10 h-10 p-2 rounded-full ${frontmatter.txfs} ${frontmatter.bgsc}`]}/>
                    </a>
                    <a href={`https://www.instagram.com/${frontmatter.instagrammale}`} class="flex flex-row gap-2 items-center">
                    <Icon name="mdi:instagram" class:list={[`w-10 h-10 p-2 rounded-full ${frontmatter.txfs} ${frontmatter.bgsc}`]} />
                    </a>
                </div>
                </div>
            </div>
        </div>
    </section>
    <section class="animasi6 relative overflow-hidden">
      <div class="container mx-auto py-20 px-6">
        <div class:list={[`text-center my-5 mb-10 ${frontmatter.txsc}`]} class="text-center my-5 mb-10">
          <h2 class="fade-left opacity-0 text-2xl font-bold mt-5 md:mt-0 mb-3 font-josefin">Where & When</h2>
          <h1 class="fade-right opacity-0 text-center font-great text-5xl md:text-8xl">
            Wedding Day
          </h1>
        </div>
        <div
          class:list={[`grid gird-cols-1 sm:grid-cols-2 w-full max-w-screen-md mx-auto justify-center items-center gap-8 mt-5 [&>*]:mx-auto [&>*]:rounded-2xl [&>*]:h-full [&>*]:border [&>*]:p-8 [&>*]:space-y-4 [&>*]:opacity-0 [&>*]:w-full [&>*]:h-max ${frontmatter.txsc}`]}>
          <div class:list={[`fade-right ${frontmatter.bdr}`]}>
            <div class="flex items-center w-full mx-auto gap-x-4"> 
                <hr class:list={[`flex-grow border ${frontmatter.bdr}`]}>
                <h2 class="text-center font-great text-4xl">Akad</h2>
                <hr class:list={[`flex-grow border ${frontmatter.bdr}`]}> 
            </div>
            <div class="font-josefin flex flex-col justify-start items-start lg:items-center gap-4 [&>*]:flex [&>*]:flex-row [&>*]:gap-4 [&>*]:text-center [&>*]:justify-center">
              <div class="">
                <Icon name="mdi:calendar-check-outline" class="w-6 h-6" />
                {frontmatter.date}
              </div>
              <div class="">
                <Icon name="mdi:clock-time-four-outline" class="w-6 h-6" />
                {frontmatter.timefs}
              </div> 
              <div class="">
                <Icon name="mdi:google-maps" class="w-6 h-6" />
                {frontmatter.addressfs}
              </div>
            </div>
            <div class="group">
              <a href={frontmatter.mapsfs}>
                <button class:list={[`mx-auto mt-8 flex items-center justify-center rounded-full ${frontmatter.txfs} ${frontmatter.bgsc} px-4 py-2 text-center text-sm font-medium`]}>Kunjungi Lokasi <Icon name="mdi:google-maps" class="w-6 h-6" />
                </button>
              </a>
            </div>
          </div>
          <div class:list={[`fade-left ${frontmatter.bdr}`]}>
            <div class="flex items-center w-full mx-auto gap-x-4"> 
                <hr class:list={[`flex-grow border ${frontmatter.bdr}`]}>
                <h2 class="text-center font-great text-4xl">Resepsi</h2>
                <hr class:list={[`flex-grow border ${frontmatter.bdr}`]}> 
            </div>
            <div class="font-josefin flex flex-col justify-start items-start lg:items-center gap-4 [&>*]:flex [&>*]:flex-row [&>*]:gap-4 [&>*]:text-center [&>*]:justify-center">
              <div class="">
                <Icon name="mdi:calendar-check-outline" class="w-6 h-6" />
                {frontmatter.date}
              </div>
              <div class="">
                <Icon name="mdi:clock-time-four-outline" class="w-6 h-6" />
                {frontmatter.timefs}
              </div> 
              <div class="">
                <Icon name="mdi:google-maps" class="w-6 h-6" />
                {frontmatter.addresssc}
              </div>
            </div>
            <div class="group">
              <a href={frontmatter.mapssc}>
                <button class:list={[`mx-auto mt-8 flex items-center justify-center rounded-full ${frontmatter.txfs} ${frontmatter.bgsc} px-4 py-2 text-center text-sm font-medium`]}>Kunjungi Lokasi <Icon name="mdi:google-maps" class="w-6 h-6" />
                </button>
              </a>
            </div>
          </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d873130.0607204797!2d110.1445006182314!3d-7.744660421581015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a575dd9a1912b%3A0xfe00120aebe7a884!2sGraha%20Pradipta%20Jogja%20Expo%20Center!5e0!3m2!1sid!2sid!4v1712983300381!5m2!1sid!2sid" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class:list={[`fade-up opacity-0 mx-auto mt-12 w-full max-w-3xl h-96 p-[2px] rounded-lg ${frontmatter.bgsc}`]}></iframe>
      </div>
    </section>
    <section class="animasi6 relative overflow-hidden">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-full *:z-20">
        <div class="top-0 max-h-12">
          <img src=`${frontmatter.dekorfs}` class="w-full h-full max-h-12" alt="JejakBahagia" />
        </div>
        <div class="bottom-0 max-h-12">
          <img src=`${frontmatter.dekorsc}` class="w-full h-full max-h-12" alt="JejakBahagia" />
        </div>
      </div>
      <div class="container mx-auto py-20 text-center">
        <div class:list={[`${frontmatter.txsc}`]}>
          <h2 class="fade-right opacity-0 text-2xl font-bold my-5 font-josefin">The Journey</h2>
          <h2 class="fade-left opacity-0 text-center font-great text-6xl lg:text-8xl">Our Story</h2>
        </div>
        <div class="splide h-full md:h-96 overflow-hidden mt-10">
          <div class="splide__track h-full md:h-96 overflow-visible">
            <ul class="splide__list flex gap-4">
              <li
              class="splide__slide w-full flex bg-white overflow-hidden">
              <img
                src={frontmatter.imgstory1}
                alt="Foto 1"
                class="object-cover aspect-video"/>
              </li>
              <li
              class="splide__slide w-full flex flex-col items-center justify-center overflow-hidden px-8 space-y-5">
               <div class="hidden sm:block border border-l-[1px] border-red-500 h-16"></div>
               <p class:list={[`text-3xl font-great ${frontmatter.txsc}`]}>Fist Time</p>
                <p class="max-w-prose font-josefin">
                  {frontmatter.storyfs}
                </p>
                <div class="hidden sm:block border border-l-[1px] border-red-500 h-16"></div>
              </li>
              <li
              class="splide__slide w-full flex bg-white overflow-hidden">
              <img
                src={frontmatter.imgstory1}
                alt="Foto 1"
                class="object-cover aspect-video"/>
              </li>
              <li
              class="splide__slide w-full flex flex-col items-center justify-center overflow-hidden px-8 space-y-5">
               <div class="hidden sm:block border border-l-[1px] border-red-500 h-16"></div>
               <p class:list={[`text-3xl font-great ${frontmatter.txsc}`]}>Fist Love</p>
                <p class="max-w-prose font-josefin">
                  {frontmatter.storysc}
                </p>
                <div class="hidden sm:block border border-l-[1px] border-red-500 h-16"></div>
              </li>
              <li
              class="splide__slide w-full flex bg-white overflow-hidden">
              <img
                src={frontmatter.imgstory1}
                alt="Foto 1"
                class="object-cover aspect-video"/>
              </li>
              <li
              class="splide__slide w-full flex flex-col items-center justify-center overflow-hidden px-8 space-y-5">
               <div class="hidden sm:block border border-l-[1px] border-red-500 h-16"></div>
               <p class:list={[`text-3xl font-great ${frontmatter.txsc}`]}>Wedding</p>
                <p class="max-w-prose font-josefin">
                  {frontmatter.storyth}
                </p>
                <div class="hidden sm:block border border-l-[1px] border-red-500 h-16"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="animasi8 relative overflow-hidden">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-full *:z-20">
        <div class="top-0 max-h-12">
          <img src=`${frontmatter.dekorfs}` class="w-full h-full max-h-12" alt="JejakBahagia" />
        </div>
        <div class="bottom-0 max-h-12">
          <img src=`${frontmatter.dekorsc}` class="w-full h-full max-h-12" alt="JejakBahagia" />
        </div>
      </div>
      <div class="container mx-auto px-6 py-20">
        <div class:list={[`text-center my-5 mb-10 fade-down ${frontmatter.txsc}`]}>
          <h2 class="fade-down opacity-0 text-xl md:text-2xl font-bold mt-5 font-josefin ">A Glimpse of</h2>
          <h2 class="fade-down opacity-0 text-center font-great text-5xl lg:text-8xl">
            Our Moments
          </h2>
          <div class="gap-4 columns-2 md:columns-3 mt-5 *:rounded-lg *:w-full *:mb-6 *:opacity-0">
            <img class="fade-right aspect-video" src={frontmatter.imgstory1} />
            <img class="fade-down aspect-square" src={frontmatter.imgstory2} />
            <img class="fade-left aspect-square" src={frontmatter.imgstory3} />
            <img class="fade-down aspect-square" src={frontmatter.imgstory4} />
            <img class="fade-up aspect-square" src={frontmatter.imgstory5} />
            <img class="fade-left aspect-video" src={frontmatter.imgstory1} />
            <img class="fade-left aspect-square" src={frontmatter.imgstory3} />
            <img class="fade-down aspect-video" src={frontmatter.imgstory1} />
            <img class="fade-up aspect-square" src={frontmatter.imgstory7} />
          </div>
      </div>
    </section>
    <section class="animasi9 relative bg-cover bg-no-repeat bg-center bg-fixed py-20 overflow-hidden">
      <div class="container px-6 text-center mx-auto relative z-10">
        <div class:list={[`${frontmatter.txsc}`]}>
          <h2 class="fade-right opacity-0 text-5xl lg:text-8xl font-great">Wedding Gift</h2>
          <p class="fade-left opacity-0 max-w-prose mx-auto font-bold mt-5 font-josefin">Doa & restu anda di pernikahan kami cukuplah sebagai bingkisan, namun jika anda ingin memberi lebih, kami dengan senang hati menerimanya dan akan semakin melengkapi kebahagiaan kami.</p>
        </div>
        <div class="flex flex-col md:flex-row gap-8 justify-center items-center w-full max-w-screen-md mx-auto">
          <div class:list={[`fade-down opacity-0 py-8 px-4 md:px-16 mx-auto mt-16 w-full max-w-xs justify-center md:flex mx-auto gap-5 bg-white rounded-lg border-2 ${frontmatter.bdr} shadow-lg`]}>
            <div class="text-center font-poppins flex flex-col items-center">
              <img class="h-8 w-1/2 lg:w-full" src={frontmatter.logoml} alt="JejakBahagia">
              <div class:list={[`mt-4 font-josefin ${frontmatter.txsc}`]}>
                <p class="max-w-prose">{frontmatter.namebankml}</p>
                <span class="copy-content font-bold">{frontmatter.numberbankml}</span>
                <div class="btn-copy pt-5">
                  <button class:list={[`${frontmatter.bgsc} ${frontmatter.txfs} px-5 py-2 rounded-lg`]}>Copy Rekening</button>
                </div>
                <span class="copy-message absolute hidden inset-x-0">Rekening dicopy</span>
              </div>
            </div>
          </div>
          <div class:list={[`fade-up opacity-0 py-8 px-4 md:px-16 mx-auto mt-16 w-full max-w-xs justify-center md:flex mx-auto gap-5 bg-white rounded-lg border-2 ${frontmatter.bdr} shadow-lg`]}>
            <div class="text-center font-poppins flex flex-col items-center">
              <img class="h-8 w-1/2 lg:w-full" src={frontmatter.logofml} alt="JejakBahagia">
              <div class:list={[`mt-5 font-josefin ${frontmatter.txsc}`]}>
                <p class="max-w-prose">{frontmatter.namebankfml}</p>
                <span class="copy-content font-bold">{frontmatter.numberbankfml}</span>
                <div class="btn-copy pt-5">
                  <button class:list={[`${frontmatter.bgsc} ${frontmatter.txfs} px-5 py-2 rounded-lg`]}>Copy Rekening</button>
                </div>
                <span class="copyMessage absolute hidden inset-x-0">Rekening dicopy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="animasi10 overflow-hidden relative">
      <div class="absolute overflow-hidden w-full h-[100%] *:absolute *:object-cover *:w-full *:z-20">
        <div class="top-0 max-h-12">
          <img src=`${frontmatter.dekorfs}` class="w-full h-full max-h-12" alt="JejakBahagia" />
        </div>
        <div class="bottom-0 max-h-12">
          <img src=`${frontmatter.dekorsc}` class="w-full h-full max-h-12" alt="JejakBahagia" />
        </div>
      </div>
      <div class="container py-20 z-50 px-6 text-center mx-auto relative">
        <div class:list={[`text-center my-5 mb-10 ${frontmatter.txsc}`]}>
          <h2 class="fade-right text-4xl md:text-8xl font-great">
            Ucapan & Doa
          </h2>
          <h2 class="fade-right text-xl md:text-2xl font-bold mt-5 font-josefin">Please Confirm Your Attendance</h2>
        </div>

        <Rsvp color="gray-600" />
          
      </div>
    </section>
    <Footerpost />
    <Audio />
    <audio id="myAudio" loop class="hidden">
      <source src=`/assets/${frontmatter.music}.mp3` type="audio/mpeg">
    </audio>
    <Animation /> 
    <Payment /> 
    <Splide />
  </main>
</Noheader>
