---
import Page from '../layouts/page.astro';
import '@fontsource/poppins';
import { Icon } from 'astro-iconify';
const facebook = "facebook";
const userfb = "jejakbahagia02";
const instagram = "instagram";
const userig = "jejakbahagia_";
---

<Page title="Contact" desc="Yukk!Lebih Dekat dengan Kami" subs="Lebih Dekat dengan Kami">
  <div class="flex flex-col gap-3 w-full max-w-xl mx-auto space-y-3 sm:flex-row sm:justify-center sm:space-y-0 [&>*]:flex [&>*]:flex-row [&>*]:gap-2 [&>*]:border-b [&>*]:w-max">
    <div>
      <a href={`https://www.${instagram}.com/${userig}`} class="flex flex-row gap-2 items-center">
        <Icon name="mdi:instagram" class="w-10 h-10 text-pink-700 hover:text-white hover:bg-pink-700 bg-white p-2 rounded-full" />{userig}
      </a>
    </div>
    <div>
      <a href={`https://www.${facebook}.com/${userfb}`} class="flex flex-row gap-2 items-center">
      <Icon name="mdi:facebook" class="w-10 h-10 text-pink-700 hover:text-white hover:bg-pink-700 bg-white p-2 rounded-full" />{userfb}
    </a>
    </div>
    <div>
      <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!" class="flex flex-row items-center gap-2">
      <Icon name="mdi:whatsapp" class="w-10 h-10 text-pink-700 hover:text-white hover:bg-pink-700 bg-white p-2 rounded-full" />
      <p>+62 815-3209-4978</p>
      </a>
    </div>
  </div>
</Page>
