---
import Home from '../layouts/home.astro';
import '@fontsource-variable/josefin-sans';
import { Icon } from 'astro-iconify';
import { Image } from 'astro:assets';
const posts = await Astro.glob('../pages/demo/*.astro');

---

<Home title="Home" desc="Masih zaman undangan kertas? pake undangan digital dong langsung kirim ke semua kontak Anda!">
  <section>
    <div class="container pt-16 lg:pt-0 mx-auto">
      <div class="grid grid-cols-1 lg:grid-cols-2 items-center">
        <div class="w-full py-8">
            <div class="px-6">
                <h2 class="text-3xl min-[340px]:text-4xl min-[445px]:text-5xl sm:text-6xl md:text-7xl font-black font-poppins text-gray-800">Buat Undangan Nikah Online <br/>
                  <span class="text-pink-700 italic font-thin">Murah & Cepat</span></h2>

                <p class="mt-4 text-gray-600 font-poppins max-w-lg">Membuat Setiap Jejak Menuju Kebahagiaan dengan Harga yang Ramah di Kantong!</p>

                <div class="flex flex-row max-[400px]:flex-col gap-x-2 gap-y-4 w-fit mt-6 [&>*]:rounded-full [&>*]:py-2 [&>*]:px-4 [&>*]:font-josefin [&>*]:text-md">
                    <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!" class="flex flex-row items-center justify-center gap-1 tracking-wider text-center text-white transition-colors duration-300 bg-pink-600 hover:bg-pink-700">Konsultasi<Icon name="mdi:whatsapp" class="w-5 h-5 text-white" /></a>
                    <a href="/tema" class="flex flex-row items-center justify-center tracking-wider text-center text-gray-900 transition-colors duration-300 transform bg-none ring-1 ring-gray-900 lg:mx-4 hover:bg-gray-900 hover:text-white hover:ring-0">Lihat Tema<Icon name="mdi:arrow-right-thin" class="w-6 h-6" /></a>
                </div>
            </div>
        </div>
        <div class="mx-auto relative grid place-items-center overflow-hidden">
          <div class="h-screen grid place-items-center overflow-hidden">
            <div class="grid grid-cols-[repeat(5,_100px)] auto-rows-[100px] gap-2 place-items-center mb-[100px] [&>*]:object-cover [&>*]:w-[200px] [&>*]:h-[200px] [&>*]:rounded-[5px] max-[639px]:[&>*:nth-child(4n-1)]:col-[2_/_span_2] min-[640px]:grid-cols-[repeat(6,_100px)] min-[640px]:[&>*:nth-child(5n-1)]:col-[2_/_span_2] [&>*]:col-[auto_/_span_2]">
            <img src="/assets/girl-wedding.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/ring-cd.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/man-wedding.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/foto-moment-3.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/bg-wedding-1.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/foto-tambahan-1.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/foto-moment-2.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/foto-tambahan-2.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
          </div>
        </div>
        
    </div>
    </div>
  </section>
  <section>
    <div class="container pt-10 px-6 mx-auto">
      <div class="text-center mx-auto space-y-3 max-w-xl">
        <h2 class="font-bold font-josefin text-4xl md:text-5xl text-pink-600">Mengapa Harus Jejak Bahagia?</h2>
        <p class="max-w-prose text-center text-gray-500 font-poppins mx-auto">Sejak tahun 2022 JejakBahagia telah menjadi bagian dari momen spesial customer dan telah dipercaya oleh ribuan pengguna. </p>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-4 mx-auto justify-center items-center text-center border rounded-lg -mb-16 drop-shadow-xl relative bg-white max-w-screen-lg divide-y sm:divide-x sm:divide-y-0 mt-20 [&>*]:p-8">
        <div class="[&>*]:font-poppins">
          <h4 class="text-5xl font-bold text-pink-600">+1K</h4>
          <p class="text-xl text-gray-500">Undangan Aktif</p>
        </div>
        <div class="[&>*]:font-poppins">
          <h4 class="text-5xl font-bold text-pink-600">+8K</h4>
          <p class="text-xl text-gray-500">Tamu Undangan</p>
        </div>
        <div class="[&>*]:font-poppins">
          <h4 class="text-5xl font-bold text-pink-600">+4K</h4>
          <p class="text-xl text-gray-500">Doa & Ucapan</p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-gray-100">
    <div class="container py-20 px-6 mx-auto">
      <div class="text-center mx-auto space-y-3 max-w-xl mt-20">
        <h2 class="font-bold font-josefin text-4xl md:text-5xl text-pink-600">Fitur Terbaik</h2>
        <p class="text-center text-gray-500 mx-auto font-poppins">Berbagai macam fitur terbaik undangan online yang Anda butuhkan ada disini.
        </p>
      </div>
      <div class="grid grid-cols-1 min-[450px]:grid-cols-2 lg:grid-cols-3 gap-4 mt-16 w-full max-w-screen-lg mx-auto [&>*]:w-full [&>*]:mx-auto [&>*]:p-8 [&>*]:bg-white [&>*]:shadow-lg [&>*]:rounded-lg [&>*]:sm:flex [&>*]:gap-x-4 [&>*]:gap-y-8 [&>*]:relative hover:[&>*]:scale-105 hover:[&>*]:drop-shadow-xl [&>*]:border-pink-600 [&>*]:border">
        <div class="">
          <div>
            <Icon name="mdi:web-check" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Domain Ekslusif</h4>
            <p class="font-poppins text-gray-600 text-sm">Menggunakan mekanisme subdomain dan tersedia paket custom domain</p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:people-group" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Custom Nama Tamu</h4>
            <p class="font-poppins text-gray-600 text-sm">Satu tamu, satu undangan. Selayaknya undangan pernikahan fisik
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:gift-outline" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Hadiah</h4>
            <p class="font-poppins text-gray-600 text-sm">Tersedia fitur kirim hadiah secara online ke rekening kamu atau alamat melalui undanganmu
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:cash-check" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Amplop Digital</h4>
            <p class="font-poppins text-gray-600 text-sm">Pembayaran dapat dilakukan kapan saja, mudah, otomatis dengan metode pembayaran yang lengkap
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:book-edit-outline" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Reservasi & Buku Tamu</h4>
            <p class="font-poppins text-gray-600 text-sm">Fitur penerima ucapan dari tamu dan konfirmasi kehadiran dengan manajemen data yang baik
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:timer-sand-complete" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Countdown Timer</h4>
            <p class="font-poppins text-gray-600 text-sm">Tersedia fitur countdown timer yang dapat berfungsi sebagai pengingat waktu acara
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:music-note" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Background Music</h4>
            <p class="font-poppins text-gray-600 text-sm">Request musik sesuai keinginan kamu agar undanganmu lebih ekslusif dan romantis.
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:folder-image" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Gallery Foto</h4>
            <p class="font-poppins text-gray-600 text-sm">Share momen indah kamu dengan pasanganmu dengan slideshow yang keren
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:book-love-outline" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Love Stories</h4>
            <p class="font-poppins text-gray-600 text-sm">Ceritakan Kisah Cinta kamu dengan leluasa.
            </p>
          </div>
        </div>
    </div>
  </section>
  <section>
    <div class="container px-6 py-20 mx-auto text-center">
      <div class="space-y-2 max-w-xl mx-auto">
        <h1
          class="font-bold font-josefin text-4xl md:text-5xl text-pink-600"
        >
        Pilihan Desain
        </h1>
        <p class="mt-4 text-center text-gray-600 font-poppins mx-auto">
          Dengan adanya preset kamu tinggal pilih design undangan sesuai dengan yang kamu mau!
        </p>
      </div>
      <div
        class="grid grid-cols-1 min-[451px]:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-8 mt-10 pt-10 max-w-screen-lg mx-auto">
        {
          posts.slice(0, 15)
          .sort((a, b) => a.data.number - b.data.number)
          .map((post) => (
            <div class="relative border border-gray-300 p-6 rounded-lg shadow-xl">
              <div class="relative">
                <div class="overflow-hidden rounded-lg">
                <a href={post.data.slug}>
                <Image
                  class="w-full aspect-video object-cover hover:scale-125 duration-500 transition-all ease-linear"
                  src={post.data.img.url}
                  alt="Jejak Bahagia"
                  width={600}
                  height={900}
                />
              </a>
              </div>
              <p class="font-bold text-xl text-gray-800 sm:text-left mt-3 capitalize">{post.data.type}</p>  
              <p class="font-bold text-gray-800 sm:text-left">{post.data.price}</p>  
              <p class="font-bold text-pink-600 line-through sm:text-left text-xs">{post.data.unprice}</p>  
              
              <div class="flex flex-col min-[320px]:flex-row gap-4 items-center justify-center min-[320px]:justify-start min-[320px]:justify-between mt-2">
              <a href={post.data.slug} class="flex flex-row items-center justify-between gap-2 text-white bg-gray-600 w-fit px-4 py-2 rounded-md">{post.data.link}<Icon name="mdi:eye" class="w-4 h-4"/></a>
              <a href="/pesan" class="flex flex-row items-center justify-between gap-2 text-white bg-pink-600 w-fit px-4 py-2 rounded-md">Pesan <Icon name="mdi:whatsapp" class="w-4 h-4 text-white" /></a>
              </div>
                  
              </div>
            
            </div>
          ))
        }
      </div>
    </div>
  </section>
  
  <section class="bg-gray-50">
    <div class="container py-20 px-6 mx-auto">
      <div class="text-center mx-auto space-y-3 max-w-xl">
        <h2 class="font-bold font-josefin text-3xl sm:text-4xl md:text-5xl text-pink-600">Paketnya Ramah Dikantong</h2>
        <p class="text-center text-gray-500 font-poppins mx-auto">Kami memberikan harga termurah dan fitur terlengkap, silahkan Lihat perbandingan masing-masing paket disini.
        </p>
      </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 w-full mx-auto mt-16 gap-2 [&>*]:w-full [&>*]:transform [&>*]:rounded-lg [&>*]:font-poppins">
            <div class="px-8 py-12 border border-gray-400 flex flex-col justify-between">
              <div class="text-center">
                  <p class="text-2xl font-semibold text-gray-800">Basic</p>
                  <h4 class="mt-2 text-gray-600 line-through">Rp. 75.000</h4>
                  <h4 class="mt-2 text-4xl font-semibold flex justify-center text-gray-800"><sup class="text-base">Rp</sup>49.000</h4>
                  <p class="mt-4 text-gray-500">Masa Aktif 30 Hari</p>
              </div>
              <hr class="h-px my-4 bg-gray-500 w-1/2 mx-auto border-0">
              <div class="space-y-2  [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>*]:text-center">
                  <div>
                      <span class="mx-4 text-gray-700">100 Tamu</span>
                  </div>
                  <div>
                      <span class="mx-4 text-gray-700">4 Foto</span>
                  </div>
                  <div>
                      <span class="mx-4 text-gray-700">Countdown Timer</span>
                  </div>
                  <div>
                      <span class="mx-4 text-gray-700">RSVP</span>
                  </div>
                  <div>
                      <span class="mx-4 text-gray-700">Amplop Digital</span>
                  </div>
                  <div>
                      <span class="mx-4 text-gray-700">Background Music
                      </span>
                  </div>
                  <div>
                      <span class="mx-4 text-gray-700">Revisi 2 kali</span>
                  </div>
              </div>

              <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!">
                <button class="w-fit mx-auto flex items-center px-4 py-2 mt-10 text-white capitalize transition-colors duration-300 transform bg-gray-600 rounded-full hover:bg-gray-800">
                  Buat Undangan
                </button>
              </a>
              
            </div>
            <div class="px-8 py-12 bg-gray-300 border border-gray-400 flex flex-col justify-between">
                <div class="text-center">
                    <p class="text-2xl font-semibold text-gray-800">Silver</p>
                    <h4 class="mt-2 text-gray-600 line-through">Rp. 100.000
                    </h4>
                    <h4 class="mt-2 text-4xl font-semibold flex justify-center text-gray-800"><sup class="text-base">Rp</sup>75.000</h4>
                    <p class="mt-4 text-gray-500">Masa Aktif 3 Bulan</p>
                </div>
                <hr class="h-px my-4 bg-gray-500 w-1/2 mx-auto border-0">
                <div class="space-y-2  [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>*]:text-center">
                  
                  <div>
                    <span class="mx-4 text-gray-700">Semua Fitur Tema Basic</span>
                  </div>
                    <div>
                      
                        <span class="mx-4 text-gray-700">Tamu Tanpa Batas</span>
                    </div>
                    <div>
                        <span class="mx-4 text-gray-700">6 Foto </span>
                    </div>
                    <div>
                        <span class="mx-4 text-gray-700">Google Maps</span>
                    </div>
                    <div>
                        <span class="mx-4 text-gray-700">Quote</span>
                    </div>
                    <div>
                        <span class="mx-4 text-gray-700">Revisi 3 kali</span>
                    </div>
                </div>

                <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!">
                  <button class="w-fit mx-auto flex items-center px-4 py-2 mt-10 text-white capitalize transition-colors duration-300 transform bg-gray-600 rounded-full hover:bg-gray-800">
                    Buat Undangan
                  </button>
                </a>
                
            </div>
            <div class="overflow-hidden bg-pink-600 px-8 py-12 border border-gray-300 relative flex flex-col justify-between">
              <div class="absolute right-0 top-0 h-16 w-16">
                <div class="absolute right-[-34px] top-[32px] w-[170px] transform rotate-[44deg] bg-gray-300 text-center text-gray-800  font-bold py-1">Popular</div>
              </div>
              
              <div class="text-center text-white">
                <p class="text-2xl font-semibold">Diamond</p>
                <h4 class="mt-2 line-through">Rp. 150.000</h4>
                <h4 class="mt-2 text-4xl font-semibold flex justify-center"><span class="text-xl font-medium">Rp</span>99.000</h4>
                <p class="mt-4">Masa Aktif 6 Bulan</p>
            </div>

            <hr class="h-px my-4 bg-gray-100 w-1/2 mx-auto border-0">
            <div class="space-y-2  [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>*]:text-center">
              <div>
                <span class="mx-4 text-white">Semua Fitur Tema Silver</span>
              </div>
              <div>
                  <span class="mx-4 text-white">Tamu Tanpa Batas</span>
              </div>
              <div>
                  <span class="mx-4 text-white">7 Foto + Bonus 1 foto</span>
              </div>
              <div>
                  <span class="mx-4 text-white">Love Stories</span>
              </div>
              <div>
                  <span class="mx-4 text-white">Template IG Stories</span>
              </div>
              <div>
                  <span class="mx-4 text-white">Revisi 5 kali</span>
              </div>
            </div>
            <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!">
              <button class="w-fit mx-auto flex items-center px-4 py-2 mt-10 text-gray-800 capitalize transition-colors duration-300 transform bg-white rounded-full hover:bg-gray-300">
                Buat Undangan
              </button>
            </a>
            </div>
            <div class="px-8 py-12 bg-gray-50 bg-gray-800 flex flex-col justify-between">
              <div class="text-center text-white">
                  <h4 class="text-2xl font-semibold">Exclusive</h4>
                  <h4 class="mt-2 line-through">Rp. 200.0000</h4>
                  <h4 class="mt-2 text-4xl font-semibold flex justify-center"><span class="text-xl font-medium">Rp</span>149.000</h4>
                  <p class="mt-4">Masa Aktif 1 Tahun</p>
              </div>
              <hr class="h-px my-4 bg-gray-100 w-1/2 mx-auto border-0">
              <div class="space-y-2  [&>*]:flex [&>*]:items-center [&>*]:text-white [&>*]:justify-center [&>*]:text-center">
                  <div>
                    <span class="mx-4 text-white">Semua Fitur Tema Diamond</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">Request Sesuai Suku & Adat</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">Video Live Steaming</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">10 Foto</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">Video Undangan</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">Revisi 5 kali</span>
                  </div>
              </div>

              <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!">
                <button class="w-fit mx-auto flex items-center px-4 py-2 mt-10 text-gray-800 capitalize transition-colors duration-300 transform bg-white rounded-full hover:bg-gray-300">
                  Buat Undangan
                </button>
              </a>
          </div>
        </div>
    </div>
</section>
<section class="bg-gray-100 relative overflow-hidden">
  <div class="container mx-auto py-20 px-6 text-center">
    <div>
      <h1 class="font-bold font-josefin text-4xl md:text-5xl text-pink-600">Testimoni</h1>
      <p class="max-w-prose text-center text-gray-500 font-poppins mx-auto">Bukti nyata bahwa JejakBahagia telah menjadi bagian kebahagiaan momen terbaik mereka</p>
    </div>
    <div class="splide h-96 w-full max-w-screen-lg mx-auto overflow-hidden mt-10 splide rounded-lg"
    data-splide='{"type":"loop", "perPage":"5", "gap":"0", "arrows":false, "pagination":false, "interval": 9000}'>
    <div class="splide__track h-full md:h-96 overflow-visible">
        <ul class="splide__list flex gap-2">
            <li class="splide__slide overflow-hidden w-fit rounded-lg">
                <img src="/assets/testi-1.webp" alt="Foto 1" class="object-cover h-full"/>
            </li>
            <li class="splide__slide overflow-hidden w-fit rounded-lg">
                <img src="/assets/testi-2.webp" alt="Foto 1" class="h-full"/>
            </li>
            <li class="splide__slide overflow-hidden w-fit rounded-lg">
                <img src="/assets/testi-3.webp" alt="Foto 1" class="h-full"/>
            </li>
            <li class="splide__slide overflow-hidden w-fit rounded-lg">
                <img src="/assets/testi-4.webp" alt="Foto 1" class="h-full"/>
            </li>
            <li class="splide__slide overflow-hidden w-fit rounded-lg">
                <img src="/assets/testi-5.webp" alt="Foto 1" class="h-full"/>
            </li>
        </ul>
    </div>
</div>

  </div>
</section>
<section>
  <div class="container px-6 py-20 mx-auto h-max">
    <div class="text-center">
      <h1 class="font-bold font-josefin text-4xl md:text-5xl text-pink-600">FAQ</h1>
      <p class="max-w-prose text-center text-gray-500 font-poppins mx-auto">Dibawah ini adalah daftar pertanyaan yang sering ditanyakan
      </p>
    </div>
  <div x-data="{ open: null }" class="w-full max-w-xl mx-auto space-y-4 font-poppins">
    <div x-data="{ open: 1 }" class="w-full max-w-xl mx-auto mt-5 pt-8 space-y-4 font-poppins *:bg-gray-200 *:p-4 *:rounded-md">
      <div class="" :class="{ 'bg-blue-100': open === 1 }">
          <button @click="open = open === 1 ? null : 1" class="text-left text-base text-gray-900">
              Bagaimana cara order?
          </button>
          <div 
              x-show="open === 1"
              x-transition:enter="transition ease-out duration-300"
              x-transition:enter-start="transform opacity-0 scale-95"
              x-transition:enter-end="transform opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-300"
              x-transition:leave-start="transform opacity-100 scale-100"
              x-transition:leave-end="transform opacity-0 scale-95"
              class="pt-2 text-gray-500">
              Silahkan pilih Tema yang anda sukai kemudian klik Pesan, nanti anda akan diarahkan ke form pemesanan.
          </div>
      </div>
      <div class="" :class="{ 'bg-blue-100': open === 2 }">
          <button @click="open = open === 2 ? null : 2" class="text-left text-base text-gray-900">
              Berapa lama undangan aktif?
          </button>
          <div 
              x-show="open === 2"
              x-transition:enter="transition ease-out duration-300"
              x-transition:enter-start="transform opacity-0 scale-95"
              x-transition:enter-end="transform opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-300"
              x-transition:leave-start="transform opacity-100 scale-100"
              x-transition:leave-end="transform opacity-0 scale-95"
              class="pt-2 text-gray-500">
              Exclusive : 1 Tahun <br>
              Diamond : 6 Bulan <br>
              Silver : 3 Bulan <br>
              Basic : 1 Bulan <br><br>
              Jika masaaktif dirasa kurang, anda dapat menambah masa aktif undangan
          </div>
      </div>
      <div class="" :class="{ 'bg-blue-100': open === 2 }">
        <button @click="open = open === 3 ? null : 3" class="text-left text-base text-gray-900">
          Berapa lama pengerjaannya?
        </button>
        <div 
            x-show="open === 3"
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="pt-2 text-gray-500">
            Untuk pengerjaannya 2-3 hari, setelah semua data kamu terkumpul.
        </div>
      </div>
      <div class="" :class="{ 'bg-blue-100': open === 2 }">
        <button @click="open = open === 4 ? null : 4" class="text-left text-base text-gray-900">
          Apa bisa tanpa foto ?
        </button>
        <div 
            x-show="open === 4"
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="pt-2 text-gray-500">
            Ya, tentu bisa, anda dapat memilih semua tema yang anda minat.
        </div>
      </div>
      <div class="" :class="{ 'bg-blue-100': open === 2 }">
        <button @click="open = open === 5 ? null : 5" class="text-left text-base text-gray-900">
          Apa bisa revisi ?
        </button>
        <div 
            x-show="open === 5"
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="pt-2 text-gray-500">
            Bisa max 5x revisi minor, untuk revisi sampai hari H
        </div>
      </div>
  </div>
  
  </div>
</section>
<section class="fixed bottom-5 right-5 z-20">
  <div class="container flex items-end justify-end mx-auto">
    <a href="https://wa.me/6281532094978?text=Hallo Admin Jejak Bahagia, saya mau konsultasi undangan digital dong!" target="_blank">
      <Icon name="mdi:whatsapp" class="w-14 h-14 mb-5 text-white bg-green-500 rounded-full p-2" />
    </a>
  </div>
</section>
</Home>
