---
import Noheader from '../layouts/noheader.astro';
import { Icon } from 'astro-iconify';
---
<Noheader title="Send">
<section class="bg-pink-200 bg-cover bg-center relative before:content-[''] before:bg-black before:opacity-80 before:inset-0 before:bg-cover before:absolute" style="background-image: url(/assets/img-29.webp);">
  <div class="container px-6 py-16 h-max md:h-screen mx-auto relative grid grid-cols-1 place-content-center">
    <form id="formSend" action="javascript:void(0);" onsubmit="sendWhatsApp();" class="w-full max-w-screen-lg px-6 py-16 sm:px-12 mx-auto bg-white rounded-md shadow-md border">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-8 justify-center items-center [&>*]:font-poppins [&>*]:text-left [&>*]:text-gray-800/50">
          <div class="w-full space-y-6 [&>input]:block [&>input]:w-full [&>input]:px-4 [&>input]:py-3 [&>input]:text-gray-700 [&>input]:capitalize [&>input]:bg-white [&>input]:border [&>input]:border-gray-200 *:rounded-md focus:*:outline-none focus:*:ring focus:*:ring-0">
              <input value="" id="female" type="text" name="name" placeholder="Penganti Wanita">
              <input value="" id="male" type="text" name="name" placeholder="Penganti Pria">
              <input value="" id="Penerima" type="text" name="name" placeholder="Nama Penerima">
              <div class="flex flex-row gap-2 items-center">
              <input type="tel" id="number" class="py-3 px-4 text-black border border-gray-200 w-full rounded-lg focus:outline-none focus:ring focus:ring-0" placeholder="Nomor Whatsapp">
              <Icon name="mdi:contact" id="whatsapp-icon" class="h-6 w-6 text-pink-600" />
              </div>
          </div>
          <div class="w-full">
            <textarea id="message" rows="12" name="content" class="block p-5 w-full text-sm text-gray-800 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none"></textarea>
          </div>
          <div>
        </div>
      </div>
    
      <div class="flex justify-end mt-6">
        <button id="send" type="submit" class="px-6 py-2 z-50 relative bg-pink-600 rounded-md text-white font-bold font-poppins flex gap-1 transition-all duration-700 ease-linear hover:bg-white hover:text-pink-600 hover:ring-2 hover:ring-pink-600">Kirim Pesan</button>
    
      </div>
    </form>
  </div>
</section>

<script>

  const urlParams = new URLSearchParams(window.location.search);
    const femaleValue = urlParams.get('female');
    const maleValue = urlParams.get('male');
    const urlValue = urlParams.get('url');
    
    document.getElementById('female').value = femaleValue;
    document.getElementById('male').value = maleValue;

    urlParams.append('url', 'jejakbahagia.com');
    const newUrl = `${window.location.origin}${window.location.pathname}?${urlParams.toString()}`;
    console.log(newUrl);
    

  function updateMessage() {
    var femaleName = document.getElementById("female").value.trim();
    var maleName = document.getElementById("male").value.trim();
    var Penerima = document.getElementById("Penerima").value.trim();
    var detailURL = urlValue;
    var message = `*Kepada Yth.*
Bapak/Ibu/Saudara/i 

*${Penerima}* 


*Assalamualaikum Warahmatullahi Wabarakaatuh*

Dengan memohon rahmat dan ridho Allah SWT, perkenankan kami mengundang Bapak/Ibu/Saudara/i untuk menghadiri acara Resepsi kami:


🧕🏻 *${femaleName}*

dengan

🤵🏻 *${maleName}*

Untuk informasi detail mengenai acara, silahkan kunjungi link dibawah ini:

${detailURL}/?to=${Penerima}

Merupakan suatu kehormatan dan kebahagiaan bagi kami apabila Bapak/Ibu/Saudara/i berkenan untuk hadir dan memberikan doa restu. Atas kehadiran dan doa restunya kami ucapkan terima kasih.

*Wassalamualaikum Warahmatullahi Wabarakaatuh*

Kami yang berbahagia,


${femaleName} & ${maleName}

`;

document.getElementById('message').innerHTML = message;
  }

  document.getElementById("formSend").addEventListener("submit", function(e) {
    e.preventDefault();
    updateMessage();  

    var Number = document.getElementById("number").value.trim();
    var message = document.getElementById("message").value.trim();
    var whatsapp = "https://api.whatsapp.com/send?phone=" + Number + "&text=" + encodeURIComponent(message);
    window.open(whatsapp, "_blank");
  });

  document.getElementById("male").addEventListener("input", updateMessage);
  document.getElementById("female").addEventListener("input", updateMessage);
  document.getElementById("Penerima").addEventListener("input", updateMessage);

  window.onload = updateMessage;

</script>


</Noheader>



