---
import Main from './main.astro';
import { Image } from 'astro:assets';
//const posts = await Astro.glob('../pages/posts/*.md');
const posts = await Astro.glob('../pages/demo/*.astro');
const { title, desc, subs } = Astro.props;
---

<Main title={title} desc={desc}>
  <section>
    <div class="container px-6 py-20 mx-auto text-center">
      <div class="text-center">
        <h1 class="text-3xl text-gray-800 font-poppins font-bold">{title}</h1>
        <p class="text-gray-500 font-poppins max-w-prose mx-auto mt-2">{subs}</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-10 pt-10 max-w-screen-lg mx-auto">
        {
          posts.slice(0, 9).map((post) => (
            <div class="relative">
              <div class="overflow-hidden border border-2 border-pink-700 rounded-lg">
                <a href={post.data.slug}>
                <Image
                  class="w-full aspect-video object-cover hover:scale-125 duration-500 transition-all ease-linear"
                  src={post.data.img.url}
                  alt=""
                  width={600}
                  height={900}
                />
              </a>
              </div>
              <a href={post.data.slug} class="font-josefin text-white bg-pink-600 w-fit px-4 py-2 absolute left-0 bottom-0">{post.data.type}</a>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <slot />
</Main>
